<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <!-- Intro Card -->
      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <h5 class="card-title">Define Working Days & Hours</h5>
          <p class="card-text">
            Lets define daily working hours, weekend, holidays & explicitly declaring weekend as a working day. This information should
            be defined prior to creating plan for a specific time period.
          </p>
        </div>
      </div>

      <!-- Main Form Card -->
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="h4 mb-0">Calendar</h2>
        </div>

        <div class="container mt-2">
          <h5 class="mb-2">Weekend</h5>

          <!-- Display Mode -->
          <div *ngIf="!editWeekend" class="row">
            <div class="d-flex flex-wrap gap-2 mb-3">
              <!-- d-inline-flex -->
              <span
              class="badge bg-light text-dark fs-6 fw-normal gap-2 align-items-center"
                *ngFor="let wd of weekends"
                [hidden]="wd.id <= 0">
                {{ wd.day | titlecase }}
              </span>
              <span class="align-items-center mt-1">
                <a
                  class="btn btn-sm btn-outline-primary btn-tight-custom me-1"
                  (click)="editWeekend = true"
                  title="Edit">
                  <i class="bi bi-pencil"></i>
                </a>
              </span>
            </div>
<!--            <div class="d-flex flex-wrap gap-2 mb-3">
              <span
                class="badge bg-light text-dark fs-6 fw-normal gap-2 align-items-center"
                *ngFor="let wd of weekends"
                [hidden]="wd.id <= 0">
                {{ wd.day | titlecase }}
              </span>
              <span class="align-items-center mt-1">
                <a (click)="editWeekend = true" class="btn-link p-0">Edit</a>
              </span>
            </div>-->
          </div>


          <!-- Edit Mode -->
          <div *ngIf="editWeekend" class="row">
            <div class="d-flex flex-wrap gap-2 align-items-center mb-3">
              <span *ngFor="let day of weekends" class="form-check form-check-inline">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="day.active"
                  [id]="day.day"
                />
                <label class="form-check-label" [for]="day.day">
                  {{ day.day | titlecase }}
                </label>
              </span>
              <span>
                <button class="btn btn-primary" (click)="saveWeekend()">Save</button>
              </span>
            </div>
          </div>
        </div>

        <div class="container mt-2">
<!--
          <div class="d-flex justify-content-between align-items-center">
-->
          <div class="d-flex align-items-center mb-2">
            <h5 class="mb-0 me-2">Working Hours</h5>
            <a
              class="btn btn-sm btn-outline-primary btn-tight-custom"
              (click)="openWDModal(addWHTemplate)"
              title="Add">
              <i class="bi bi-plus"></i>
            </a>
          </div>
          <!--            <a (click)="openWDModal(addWHTemplate)" class="btn-link p-0">Add Working Hour</a>-->
          <div class="table-responsive">
<!--
            <table class="table table-bordered table-hover align-middle table-sm-custom text-sm">
              <thead class="table-secondary text-center">
-->
            <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
              <thead class="table-secondary" >
              <tr>
                <th>Description</th>
                <th>Scope</th>
                <th>Minutes</th>
                <th>Day of Week</th>
                <th>Event Date</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let wh of companyWorkingHours;">
                <td>{{ wh.description }}</td>
                <td>{{ wh.scope }}</td>
                <td class="text-center">{{ wh.minutes }}</td>
                <td>{{ wh.dayOfWeek | titlecase }}</td>
                <td>{{ wh.eventDate }}</td>
                <td>{{ wh.startDate }}</td>
                <td>{{ wh.endDate }}</td>
                <td class="text-center">
                  <a
                    class="btn btn-sm btn-outline-primary btn-tight-custom me-1"
                    (click)="openWDModalEdit(addWHTemplate, wh.id)"
                    title="Edit">
                    <i class="bi bi-pencil"></i>
                  </a>
                  <a
                    class="btn btn-sm btn-outline-danger btn-tight-custom"
                    (click)="deleteCompanyWorkingHour(wh.id)"
                    *ngIf="wh.scope !== WorkingHourEnum.DEFAULT"
                    title="Delete">
                    <i class="bi bi-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="container mt-2">
          <div class="d-flex align-items-center mb-2">
            <h5 class="mb-0 me-2">Holidays/Working Days</h5>
            <a
              class="btn btn-sm btn-outline-primary btn-tight-custom"
              (click)="openCCModal(addCCTemplate)"
              title="Add">
              <i class="bi bi-plus"></i>
            </a>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
              <thead class="table-secondary">
              <tr>
                <th>Event</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let wh of companyCalendars; ">
                <td>{{ wh.eventName }}</td>
                <td>{{ wh.eventType }}</td>
                <td>{{ wh.startDate }}</td>
                <td>{{ wh.endDate }}</td>
                <td class="text-center">
                  <a
                    class="btn btn-sm btn-outline-primary btn-tight-custom me-1"
                    (click)="openCCModalEdit(addCCTemplate, wh.id)"
                    title="Edit"
                  >
                    <i class="bi bi-pencil"></i>
                  </a>
                  <a
                    class="btn btn-sm btn-outline-danger btn-tight-custom"
                    (click)="deleteCompanyCalendar(wh.id)"
                    title="Delete"
                  >
                    <i class="bi bi-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center mt-0 mb-2 d-flex justify-content-center gap-2" *ngIf="isWizard()">
          <button class="btn btn-primary w-20" (click)="next()">Next</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #addWHTemplate>
    <div class="modal fade show d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add/Update Working Hour</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form  #hrForm="ngForm" >
              <div class="mb-3">
                <label class="form-label">Description</label><label class="required-label"><span class="text-danger ms-1">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="editCompanyWorkingHour.description"
                       id="description"
                       name="description" required
                       #description="ngModel"
                       [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }"
                       [showErrors]="{ required: 'Description is required' }"
                >
              </div>
              <div class="mb-3" *ngIf="editCompanyWorkingHour.scope !== WorkingHourEnum.DEFAULT">
                <label class="form-label">Scope<span class="text-danger ms-1">*</span></label>
                <select name="scope"  [(ngModel)]="editCompanyWorkingHour.scope" class="form-control" required
                        id="scope"
                        #scope="ngModel"
                        [ngClass]="{ 'is-invalid': scope.invalid && (scope.dirty || scope.touched) }"
                        [showErrors]="{ required: 'Scope is required' }">
                  <option *ngFor="let scope of workingHourScopes" [value]="scope.viewValue">
                    {{ scope.value }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Minutes<span class="text-danger ms-1">*</span></label>
                <input type="number" class="form-control" [(ngModel)]="editCompanyWorkingHour.minutes" name="minutes" required
                       #minutes="ngModel"
                       [ngClass]="{ 'is-invalid': minutes.invalid && (minutes.dirty || minutes.touched) }"
                       [showErrors]="{ required: 'Minutes is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('startDate',editCompanyWorkingHour.scope)">
                <label class="form-label">Start Date<span class="text-danger ms-1">*</span></label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyWorkingHour.startDate" name="startDate" required
                       #startDate="ngModel"
                       [ngClass]="{ 'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched) }"
                       [showErrors]="{ required: 'Start Date is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('endDate',editCompanyWorkingHour.scope)">
                <label class="form-label">End Date<span class="text-danger ms-1">*</span></label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyWorkingHour.endDate" name="endDate" required
                       #endDate="ngModel"
                       [ngClass]="{ 'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched) }"
                       [showErrors]="{ required: 'End Date is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('eventDate',editCompanyWorkingHour.scope)">
                <label class="form-label">Event Date<span class="text-danger ms-1">*</span></label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyWorkingHour.eventDate" name="eventDate" required
                       #eventDate="ngModel"
                       [ngClass]="{ 'is-invalid': eventDate.invalid && (eventDate.dirty || eventDate.touched) }"
                       [showErrors]="{ required: 'Event Date is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('dayOfWeek',editCompanyWorkingHour.scope)">
                <label class="form-label">Day of Week<span class="text-danger ms-1">*</span></label>
                <select name="dayOfWeek"  [(ngModel)]="editCompanyWorkingHour.dayOfWeek" class="form-control" required
                        #dayOfWeek="ngModel"
                        [ngClass]="{ 'is-invalid': dayOfWeek.invalid && (dayOfWeek.dirty || dayOfWeek.touched) }"
                        [showErrors]="{ required: 'Day of Week is required' }">
                  <option *ngFor="let day of weekDays" [value]="day.toUpperCase()">
                    {{ day | titlecase }}
                  </option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary w-20" (click)="updateCompanyWorkingHour()" *ngIf="editCompanyWorkingHour.id>0" [disabled]="hrForm.invalid" >Update</button>
            <button class="btn btn-primary w-20" (click)="addCompanyWorkingHour()" *ngIf="editCompanyWorkingHour.id===0" [disabled]="hrForm.invalid" >Add</button>
            <button class="btn btn-secondary w-20" (click)="closeModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #addCCTemplate>
    <div class="modal fade show d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add/Update Holidays/Working Days</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form  #userForm="ngForm" >
              <div class="mb-3">
                <label class="form-label">Event<span class="text-danger ms-1">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="editCompanyCalendar.eventName" name="eventName" required
                       #eventName="ngModel"
                       [ngClass]="{ 'is-invalid': eventName.invalid && (eventName.dirty || eventName.touched) }"
                       [showErrors]="{ required: 'Event is required' }">
              </div>
              <div class="mb-3">
                <label class="form-label">Type<span class="text-danger ms-1">*</span></label>
                <select name="eventType"  [(ngModel)]="editCompanyCalendar.eventType" class="form-control" required
                        #eventType="ngModel"
                        [ngClass]="{ 'is-invalid': eventType.invalid && (eventType.dirty || eventType.touched) }"
                        [showErrors]="{ required: 'Type is required' }">
                  <option *ngFor="let scope of eventTypes" [value]="scope.viewValue">
                    {{ scope.value }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Start Date<span class="text-danger ms-1">*</span></label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyCalendar.startDate" name="startDate" required
                       #startDate="ngModel"
                       [ngClass]="{ 'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched) }"
                       [showErrors]="{ required: 'Start Date is required' }">
              </div>
              <div class="mb-3">
                <label class="form-label">End Date<span class="text-danger ms-1">*</span></label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyCalendar.endDate" name="endDate" required
                       #endDate="ngModel"
                       [ngClass]="{ 'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched) }"
                       [showErrors]="{ required: 'End Date is required' }">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary w-20" (click)="updateCompanyCalendar()" *ngIf="editCompanyCalendar.id>0" [disabled]="userForm.invalid" >Update</button>
            <button class="btn btn-primary w-20" (click)="addCompanyCalendar()" *ngIf="editCompanyCalendar.id===0" [disabled]="userForm.invalid" >Add</button>
            <button class="btn btn-secondary w-20" (click)="closeModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!--
  <ng-template #viewLeaveTemplate>
    <div class="p-4 text-dark">
      @if (editCompanyWorkingHour) {
        <p>Description: {{ editCompanyWorkingHour.description }}</p>
        <hr />
        <p>Scope: {{ editCompanyWorkingHour.scope }}</p>
        <hr />
        <p>Minutes: {{ editCompanyWorkingHour.minutes }}</p>
        <hr />
        <p *ngIf="isDisplay('startDate',editCompanyWorkingHour.scope)" >End Date: {{ editCompanyWorkingHour.startDate }}</p>
        <hr />
        <p *ngIf="isDisplay('endDate',editCompanyWorkingHour.scope)" >End Date: {{ editCompanyWorkingHour.endDate }}</p>
        <hr />
        <p *ngIf="isDisplay('eventDate',editCompanyWorkingHour.scope)" >Event Date: {{ editCompanyWorkingHour.eventDate }}</p>
        <p *ngIf="isDisplay('dayOfWeek',editCompanyWorkingHour.scope)" >Day of Week: {{ editCompanyWorkingHour.dayOfWeek }}</p>

      }@else{
        <p>Working Hour does not exist</p>
      }
    </div>
    <div class="modalButton mb-3">
      <button (click)="closeModal()">close</button>
    </div>
  </ng-template>
  -->
</div>
