<div class="container mt-4">
  <h2>Company Calendar</h2>

  <div class="container">
    <h2>Weekend</h2>
    <ul *ngIf="!editWeekend">
      @for (wd of weekends; track wd.id) {
      <li *ngIf="wd.id>0 " [ngClass]="{ 'weekend': wd.id>0 }">
        {{ wd.day | titlecase }}
      </li>
      }
      <button class="btn btn-primary mb-3" (click)="editWeekend=true">Change</button>
    </ul>
    <ul *ngIf="editWeekend">
      <li *ngFor="let day of weekends" >
        {{ day.day | titlecase }}
        <input type="checkbox" [(ngModel)]="day.active" >
      </li>
      <button class="btn btn-primary mb-3" (click)="saveWeekend()">Save</button>
    </ul>
  </div>

  <button class="btn btn-primary mb-3" (click)="openWDModal(addWHTemplate)">Add Working Hour</button>
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>Description</th>
      <th>Scope</th>
      <th>Minutes</th>
      <th>Day of week</th>
      <th>Event Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let wh of companyWorkingHours; ">
      <td>{{ wh.description }}</td>
      <td>{{ wh.scope }}</td>
      <td>{{ wh.minutes }}</td>
      <td>{{ wh.dayOfWeek | titlecase }}</td>
      <td>{{ wh.eventDate }}</td>
      <td>{{ wh.startDate }}</td>
      <td>{{ wh.endDate }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteCompanyWorkingHour(wh.id)"
         *ngIf="wh.scope !== WorkingHourEnum.DEFAULT">Delete</button>
        <button class="btn btn-danger btn-sm" (click)="openWDModalEdit(addWHTemplate, wh.id)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <!--
  <ng-template #viewLeaveTemplate>
    <div class="p-4 text-dark">
      @if (editCompanyWorkingHour) {
        <p>Description: {{ editCompanyWorkingHour.description }}</p>
        <hr />
        <p>Scope: {{ editCompanyWorkingHour.scope }}</p>
        <hr />
        <p>Minutes: {{ editCompanyWorkingHour.minutes }}</p>
        <hr />
        <p *ngIf="isDisplay('startDate',editCompanyWorkingHour.scope)" >End Date: {{ editCompanyWorkingHour.startDate }}</p>
        <hr />
        <p *ngIf="isDisplay('endDate',editCompanyWorkingHour.scope)" >End Date: {{ editCompanyWorkingHour.endDate }}</p>
        <hr />
        <p *ngIf="isDisplay('eventDate',editCompanyWorkingHour.scope)" >Event Date: {{ editCompanyWorkingHour.eventDate }}</p>
        <p *ngIf="isDisplay('dayOfWeek',editCompanyWorkingHour.scope)" >Day of Week: {{ editCompanyWorkingHour.dayOfWeek }}</p>

      }@else{
        <p>Working Hour does not exist</p>
      }
    </div>
    <div class="modalButton mb-3">
      <button (click)="closeModal()">close</button>
    </div>
  </ng-template>
  -->
  <ng-template #addWHTemplate>
    <div class="modal fade show d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add/Update Working Hour</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form  #hrForm="ngForm" >
              <div class="mb-3">
                <label class="form-label">Description</label><label class="required-label">&nbsp;* </label>
                <input type="text" class="form-control" [(ngModel)]="editCompanyWorkingHour.description"
                       id="description"
                       name="description" required
                       #description="ngModel"
                       [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }"
                       [showErrors]="{ required: 'Description is required' }"
                >
              </div>
              <div class="mb-3" *ngIf="editCompanyWorkingHour.scope !== WorkingHourEnum.DEFAULT">
                <label class="form-label">Scope</label><label class="required-label">&nbsp;* </label>
                <select name="scope"  [(ngModel)]="editCompanyWorkingHour.scope" class="form-control" required
                        id="scope"
                        #scope="ngModel"
                        [ngClass]="{ 'is-invalid': scope.invalid && (scope.dirty || scope.touched) }"
                        [showErrors]="{ required: 'Scope is required' }">
                  <option *ngFor="let scope of workingHourScopes" [value]="scope.viewValue">
                    {{ scope.value }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Minutes</label><label class="required-label">&nbsp;* </label>
                <input type="number" class="form-control" [(ngModel)]="editCompanyWorkingHour.minutes" name="minutes" required
                       #minutes="ngModel"
                       [ngClass]="{ 'is-invalid': minutes.invalid && (minutes.dirty || minutes.touched) }"
                       [showErrors]="{ required: 'Minutes is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('startDate',editCompanyWorkingHour.scope)">
                <label class="form-label">Start Date</label><label class="required-label">&nbsp;* </label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyWorkingHour.startDate" name="startDate" required
                       #startDate="ngModel"
                       [ngClass]="{ 'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched) }"
                       [showErrors]="{ required: 'Start Date is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('endDate',editCompanyWorkingHour.scope)">
                <label class="form-label">End Date</label><label class="required-label">&nbsp;* </label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyWorkingHour.endDate" name="endDate" required
                       #endDate="ngModel"
                       [ngClass]="{ 'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched) }"
                       [showErrors]="{ required: 'End Date is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('eventDate',editCompanyWorkingHour.scope)">
                <label class="form-label">Event Date</label><label class="required-label">&nbsp;* </label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyWorkingHour.eventDate" name="eventDate" required
                       #eventDate="ngModel"
                       [ngClass]="{ 'is-invalid': eventDate.invalid && (eventDate.dirty || eventDate.touched) }"
                       [showErrors]="{ required: 'Event Date is required' }">
              </div>
              <div class="mb-3" *ngIf="isDisplay('dayOfWeek',editCompanyWorkingHour.scope)">
                <label class="form-label">Day of Week</label><label class="required-label">&nbsp;* </label>
                <select name="dayOfWeek"  [(ngModel)]="editCompanyWorkingHour.dayOfWeek" class="form-control" required
                        #dayOfWeek="ngModel"
                        [ngClass]="{ 'is-invalid': dayOfWeek.invalid && (dayOfWeek.dirty || dayOfWeek.touched) }"
                        [showErrors]="{ required: 'Day of Week is required' }">
                  <option *ngFor="let day of weekDays" [value]="day.toUpperCase()">
                    {{ day | titlecase }}
                  </option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button class="btn btn-success" (click)="updateCompanyWorkingHour()" *ngIf="editCompanyWorkingHour.id>0" [disabled]="hrForm.invalid" >Update</button>
            <button class="btn btn-success" (click)="addCompanyWorkingHour()" *ngIf="editCompanyWorkingHour.id===0" [disabled]="hrForm.invalid" >Add</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>



  <button class="btn btn-primary mb-3" (click)="openCCModal(addCCTemplate)">Add Company Calendar</button>
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>Event</th>
      <th>Type</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let wh of companyCalendars; ">
      <td>{{ wh.eventName }}</td>
      <td>{{ wh.eventType }}</td>
      <td>{{ wh.startDate }}</td>
      <td>{{ wh.endDate }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteCompanyCalendar(wh.id)">Delete</button>
        <button class="btn btn-danger btn-sm" (click)="openCCModalEdit(addCCTemplate, wh.id)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="">
    <button class="btn btn-primary btn-sm" (click)="next()">Next</button>
  </div>
  <ng-template #addCCTemplate>
    <div class="modal fade show d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add/Update Company Calendar</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form  #userForm="ngForm" >
              <div class="mb-3">
                <label class="form-label">Event</label><label class="required-label">&nbsp;* </label>
                <input type="text" class="form-control" [(ngModel)]="editCompanyCalendar.eventName" name="eventName" required
                       #eventName="ngModel"
                       [ngClass]="{ 'is-invalid': eventName.invalid && (eventName.dirty || eventName.touched) }"
                       [showErrors]="{ required: 'Event is required' }">
              </div>
              <div class="mb-3">
                <label class="form-label">Type</label><label class="required-label">&nbsp;* </label>
                <select name="eventType"  [(ngModel)]="editCompanyCalendar.eventType" class="form-control" required
                        #eventType="ngModel"
                        [ngClass]="{ 'is-invalid': eventType.invalid && (eventType.dirty || eventType.touched) }"
                        [showErrors]="{ required: 'Type is required' }">
                  <option *ngFor="let scope of eventTypes" [value]="scope.viewValue">
                    {{ scope.value }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Start Date</label><label class="required-label">&nbsp;* </label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyCalendar.startDate" name="startDate" required
                       #startDate="ngModel"
                       [ngClass]="{ 'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched) }"
                       [showErrors]="{ required: 'Start Date is required' }">
              </div>
              <div class="mb-3">
                <label class="form-label">End Date</label><label class="required-label">&nbsp;* </label>
                <input type="date" class="form-control" [(ngModel)]="editCompanyCalendar.endDate" name="endDate" required
                       #endDate="ngModel"
                       [ngClass]="{ 'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched) }"
                       [showErrors]="{ required: 'End Date is required' }">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button class="btn btn-success" (click)="updateCompanyCalendar()" *ngIf="editCompanyCalendar.id>0" [disabled]="userForm.invalid" >Update</button>
            <button class="btn btn-success" (click)="addCompanyCalendar()" *ngIf="editCompanyCalendar.id===0" [disabled]="userForm.invalid" >Add</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
