<div class="container mt-4">
  <h2>Company Calendar</h2>

  <div class="container">
    <h2>Weekend</h2>
    <ul *ngIf="!editWeekend">
      @for (wd of weekends; track wd.id) {
      <li *ngIf="wd.id>0 " [ngClass]="{ 'weekend': wd.id>0 }">
        {{ wd.day | titlecase }}
      </li>
      }
      <button class="btn btn-primary mb-3" (click)="editWeekend=true">Change</button>
    </ul>
    <ul *ngIf="editWeekend">
      <li *ngFor="let day of weekends" >
        {{ day.day | titlecase }}
        <input type="checkbox" [(ngModel)]="day.active" >
      </li>
      <button class="btn btn-primary mb-3" (click)="saveWeekend()">Save</button>
    </ul>
  </div>

  <button class="btn btn-primary mb-3" (click)="openModal(addWHTemplate)">Add Working Hour</button>

  <!-- Leave List Table -->
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>Description</th>
      <th>Scope</th>
      <th>Minutes</th>
      <th>Day of week</th>
      <th>Event Date</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let wh of companyWorkingHours; ">
      <td>{{ wh.description }}</td>
      <td>{{ wh.scope }}</td>
      <td>{{ wh.minutes }}</td>
      <td>{{ wh.dayOfWeek }}</td>
      <td>{{ wh.eventDate }}</td>
      <td>{{ wh.startDate }}</td>
      <td>{{ wh.endDate }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteCompanyWorkingHour(wh.id)"
         *ngIf="wh.scope !== WorkingHourEnum.DEFAULT">Delete</button>
        <button class="btn btn-danger btn-sm" (click)="openModalEdit(addWHTemplate, wh.id)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #viewLeaveTemplate>
  <div class="p-4 text-dark">
    @if (selectedCompanyWorkingHour) {
      <p>Description: {{ selectedCompanyWorkingHour.description }}</p>
      <hr />
      <p>Scope: {{ selectedCompanyWorkingHour.scope }}</p>
      <hr />
      <p>Minutes: {{ selectedCompanyWorkingHour.minutes }}</p>
      <hr />
      <p *ngIf="isDisplay('startDate',selectedCompanyWorkingHour.scope)" >End Date: {{ selectedCompanyWorkingHour.startDate }}</p>
      <hr />
      <p *ngIf="isDisplay('endDate',selectedCompanyWorkingHour.scope)" >End Date: {{ selectedCompanyWorkingHour.endDate }}</p>
      <hr />
      <p *ngIf="isDisplay('eventDate',selectedCompanyWorkingHour.scope)" >Event Date: {{ selectedCompanyWorkingHour.eventDate }}</p>
      <p *ngIf="isDisplay('dayOfWeek',selectedCompanyWorkingHour.scope)" >Day of Week: {{ selectedCompanyWorkingHour.dayOfWeek }}</p>

    }@else{
      <p>Working Hour does not exist</p>
    }
  </div>
  <div class="modalButton mb-3">
    <button (click)="closeModal()">close</button>
  </div>
</ng-template>
<ng-template #addWHTemplate>
  <div class="modal fade show d-block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add/Update Working Hour</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input type="text" class="form-control" [(ngModel)]="newCompanyWorkingHour.description" name="description" required>
            </div>
            <div class="mb-3" *ngIf="newCompanyWorkingHour.scope !== WorkingHourEnum.DEFAULT">
              <label class="form-label">Scope</label>
              <select name="scope"  [(ngModel)]="newCompanyWorkingHour.scope" class="form-control">
                <option *ngFor="let scope of workingHourScopes" [value]="scope.viewValue">
                  {{ scope.value }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Minutes</label>
              <input type="text" class="form-control" [(ngModel)]="newCompanyWorkingHour.minutes" name="minutes" required>
            </div>
            <div class="mb-3" *ngIf="isDisplay('startDate',newCompanyWorkingHour.scope)">
              <label class="form-label">Start Date</label>
              <input type="date" class="form-control" [(ngModel)]="newCompanyWorkingHour.startDate" name="startDate" required>
            </div>
            <div class="mb-3" *ngIf="isDisplay('endDate',newCompanyWorkingHour.scope)">
              <label class="form-label">End Date</label>
              <input type="date" class="form-control" [(ngModel)]="newCompanyWorkingHour.endDate" name="endDate" required>
            </div>
            <div class="mb-3" *ngIf="isDisplay('eventDate',newCompanyWorkingHour.scope)">
              <label class="form-label">Event Date</label>
              <input type="date" class="form-control" [(ngModel)]="newCompanyWorkingHour.eventDate" name="eventDate" required>
            </div>
            <div class="mb-3" *ngIf="isDisplay('dayOfWeek',newCompanyWorkingHour.scope)">
              <label class="form-label">Day of Week</label>
              <select name="dayOfWeek"  [(ngModel)]="newCompanyWorkingHour.dayOfWeek" class="form-control">
                <option *ngFor="let day of weekDays" [value]="day.toUpperCase()">
                  {{ day | titlecase }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
          <button class="btn btn-success" (click)="updateCompanyWorkingHour(newCompanyWorkingHour)" *ngIf="newCompanyWorkingHour.id>0">Update</button>
          <button class="btn btn-success" (click)="addCompanyWorkingHour()" *ngIf="newCompanyWorkingHour.id===0">Add</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
