<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <!-- Intro Card -->
      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <h5 class="card-title">Ask your question</h5>
          <p class="card-text">
            You can reach to us in case you have any query, need any clarification or having any problem.
          </p>
        </div>
      </div>

      <!-- Main Form Card -->
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="h4 mb-0">Contact Us</h2>
        </div>
        <form #useForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <div class="mb-3 col-md-4">
            <label for="name" class="form-label">Your Name<span class="text-danger ms-1">*</span></label>
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              required
              placeholder="Enter your name"
              [(ngModel)]="model.name"
              #name="ngModel"
              [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"

              [showErrors]="{ required: 'Name is required' }"
            />
          </div>
          <div class="mb-3 col-md-4">
            <label for="email" class="form-label">Your Email<span class="text-danger ms-1">*</span></label>
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              required
              email
              placeholder="Enter Your Email"
              [(ngModel)]="model.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || name.touched) }"

              [showErrors]="{ required: 'Email is required', email: 'Email is not valid' }"
            />
          </div>

          <div class="mb-3">
            <label for="subject" class="form-label">Subject<span class="text-danger ms-1">*</span></label>
            <input
              type="text"
              id="subject"
              class="form-control"
              name="subject"
              placeholder="Subject"
              required
              [(ngModel)]="model.subject"
              #subject="ngModel"
              [ngClass]="{ 'is-invalid': subject.invalid && (subject.dirty || subject.touched) }"

              [showErrors]="{ required: 'Subject is required'}"
            />
          </div>
          <div class="mb-3">
            <label for="details" class="form-label">Description<span class="text-danger ms-1">*</span></label>
            <textarea
              type="text"
              id="details"
              class="form-control"
              name="details"
              placeholder="Description"
              required
              [(ngModel)]="model.details"
              #details="ngModel"
              [ngClass]="{ 'is-invalid': details.invalid && (details.dirty || details.touched) }"

              [showErrors]="{ required: 'Description is required'}"
              rows="6"
            ></textarea>
          </div>

          <div class="text-center mt-2 d-flex justify-content-center gap-2">
            <button class="btn btn-primary w-20" type="submit" [disabled]="useForm.invalid">Save</button>
            <button type="reset" class="btn btn-secondary ms-2 w-20" >Reset</button>
          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>
