<div class="container-fluid px-4">
  <div class="col-md-4 offset-md-4">
    <div class="text-end mt-2">
      <a aria-controls="helpSection" aria-expanded="false" class="btn btn-link text-decoration-none"
         data-bs-toggle="collapse"
         href="#helpSection" role="button">
        <i class="bi bi-info-circle me-1"></i> Need Help?
      </a>
    </div>

    <!-- Help Card (Collapsed by default) -->
    <div class="collapse" id="helpSection">
      <div class="card shadow-sm mb-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">Map Designations with Roles</h5>
          <p class="card-text">
            Map your resource designations to roles. Later on in planning or so system roles will be used
            to assign task and so. Roles to resources can be changed based on product later on.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Map Designations to Roles</h4>
      </div>
      <div class="card-body bg-white col-md-10 offset-md-1">


      <div *ngFor="let source of sourceModels"  class="mb-3">
        <label class="form-label">{{source.name}}</label>
        <select class="form-select" [(ngModel)]="source.roleId" >
          <option value="0" disabled>&#45;&#45; Select Role &#45;&#45;</option>
          <option *ngFor="let target of targetModels" [value]="target.id">{{ target.name }}</option>
        </select>
      </div>
    </div>
    <div class="text-center mt-2 d-flex justify-content-center gap-2">
    <button class="btn btn-primary w-20" (click)="updateModels()">Update</button>
    </div>
  </div>
</div>
  </div>

<!--

<div class="container mt-4">
  <h2>Define Priorities</h2>
  <h3 class="text-center">🖱️ Drag & Drop Table Rows, keep most important on top</h3>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    @for (model of models; track model) {
      <div  (click)="selectModel(model)" class="example-box" cdkDrag >
        <div *ngIf="selectedModel != null && model.id === selectedModel.id">
          <input [(ngModel)]="selectedModel.name" required/>
        </div>
        <div *ngIf="selectedModel == null || model.id !== selectedModel.id">
          {{model.name}}
        </div>
        &lt;!&ndash; <img *cdkDragPreview [src]="movie.poster" [alt]="movie.title">&ndash;&gt;
      </div>
    }
  </div>


  &lt;!&ndash; Error Message &ndash;&gt;
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  &lt;!&ndash; List &ndash;&gt;
  <ul>
    <li *ngFor="let model of models" (click)="selectModel(model)">
      {{ model.name }}
      <button (click)="deleteModel(model.id); $event.stopPropagation()">Delete</button>
    </li>
  </ul>

  &lt;!&ndash; Selected Details &ndash;&gt;
  <div *ngIf="selectedModel">
    <h3>Priority Details</h3>
    <p>ID: {{ selectedModel.id }}</p>
    <p>
      Name: <input [(ngModel)]="selectedModel.name" required/>
    </p>

    <button (click)="updateModel(selectedModel)">Update</button>
  </div>

  &lt;!&ndash; Add New &ndash;&gt;
  <div>
    <h3>Add New Priority</h3>
    <p>
      Name: <input [(ngModel)]="newModel.name" required/>
    </p>
    <p>
      Priority Level: <input [(ngModel)]="newModel.priorityLevel" required/>
    </p>
    <button (click)="addModel()">Add</button>
  </div>
  &lt;!&ndash;  <button (click)="emitEvent()">Go Back</button>&ndash;&gt;
</div>
-->
