<div class="container-fluid px-4">
  <div class="col-md-8 offset-md-2">
    <div class="text-end mt-2">
      <a aria-controls="helpSection" aria-expanded="false" class="btn btn-link text-decoration-none" data-bs-toggle="collapse"
         href="#helpSection" role="button">
        <i class="bi bi-info-circle me-1"></i> Need Help?
      </a>
    </div>

    <!-- Help Card (Collapsed by default) -->
    <div class="collapse" id="helpSection">
      <div class="card shadow-sm mb-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">Priorities</h5>
          <p class="card-text">
            Define priorities and change their priority levels.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0"><i class="bi bi-calendar-event me-2"></i> Define Priorities</h4>
      </div>
      <div class="card-body bg-white col-md-12">


          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
        <div class="text-end mb-2">
          <button (click)="openModal(modelC)"
                  class="btn btn-sm me-2"
                  title="Add new resource">
            <i class="bi bi-plus"></i> Add New Component
          </button>
        </div>


        <div class="container mt-2">
          <div class="d-flex align-items-center mb-2">
            <h5 class="mb-0 me-2">Drag & Drop rows to update priority, keep most important on top</h5>
          </div>
          <!--            <a (click)="openWDModal(addWHTemplate)" class="btn-link p-0">Add Working Hour</a>-->
          <div class="table-responsive">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
              @for (model of models; track model) {
                <div  (click)="selectModel(model)" class="example-box" cdkDrag >
                  <div *ngIf="selectedModel != null && model.id === selectedModel.id">
                    <span cdkDragHandle>☰</span>
                    <input [(ngModel)]="selectedModel.name" required/>
                  </div>
                  <div *ngIf="selectedModel == null || model.id !== selectedModel.id">
                    <span cdkDragHandle>☰</span>

                    {{model.name}}
                  </div>
                  <!-- <img *cdkDragPreview [src]="movie.poster" [alt]="movie.title">-->
                </div>
              }
            </div>
          </div>
        </div>

        <div class="text-center mt-3 mb-3 d-flex justify-content-center gap-2" >
          <button class="btn btn-primary w-20" (click)="updateModels()" *ngIf="models.length>0">Update</button>
          <button class="btn btn-secondary w-20" (click)="onSkip()" *ngIf="isWizard()">Skip</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modelC>
    <div class="modal fade show d-block">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-white justify-content-between align-items-center py-2 px-3 ">
            <h5 class="modal-title mb-0 fx-6">Add Priority</h5>
            <button class="btn btn-sm text-white p-0" (click)="closeModal()">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
          <div class="modal-body">
            <form  #resourceForm="ngForm" >
              <div class="mb-3">
                <label class="form-label">Name<span class="text-danger ms-1">*</span></label>
                <input type="text" class="form-control" [(ngModel)]="newModel.name" name="name" required
                       #name="ngModel"
                       [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"
                       [showErrors]="{ required: 'Name is required' }">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary w-20" (click)="add()" *ngIf="newModel.id===0" [disabled]="resourceForm.invalid">Save</button>
            <button class="btn btn-secondary w-20" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

