<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <!-- Intro Card -->
      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <h5 class="card-title">Product Setup</h5>
          <p class="card-text">
            Provide basic information about your new product to get started.
            <strong>Release Iteration</strong> & <strong>First Working Date</strong> will help you to auto create Release with
            start date and end date based on working days and weekend already defined. Once deliverable and their respective
            time estimates will be defined in following steps, plan of deliverables to possible release will be
            <strong>One Click</strong> away.
            Once following steps gets completed, you'll move to the planning phase.
          </p>
        </div>
      </div>

      <!-- Main Form Card -->
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="h4 mb-0">Product</h2>
        </div>
        <form #useForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Product Name<span class="text-danger ms-1">*</span></label>
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              required
              placeholder="Enter your product name"
              [(ngModel)]="addProduct.name"
              #name="ngModel"
              [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"

              [showErrors]="{ required: 'Product Name is required' }"
            />
          </div>
          <div class="mb-3">
            <label for="code" class="form-label">Product Code<span class="text-danger ms-1">*</span></label>
            <input
              type="text"
              id="code"
              class="form-control"
              name="code"
              required
              placeholder="Enter your product code"
              [(ngModel)]="addProduct.code"
              #code="ngModel"
              [ngClass]="{ 'is-invalid': code.invalid && (code.dirty || code.touched) }"

              [showErrors]="{ required: 'Product Code is required' }"
            />
          </div>
          <div class="mb-3">
            <label for="emailProductManager" class="form-label">Product Manager Email<span class="text-danger ms-1">*</span></label>
            <input
              type="email"
              id="emailProductManager"
              class="form-control"
              name="emailProductManager"
              required
              email
              placeholder="Enter Product Manager email"
              [(ngModel)]="addProduct.emailProductManager"
              #emailProductManager="ngModel"
              [ngClass]="{ 'is-invalid': emailProductManager.invalid && (emailProductManager.dirty || name.touched) }"

              [showErrors]="{ required: 'Product Manager Email is required', email: 'Product Manager Email is not valid' }"
            />
          </div>
          <div class="mb-3">
            <label for="emailProductOwner" class="form-label">Product Owner Email<span class="text-danger ms-1">*</span></label>
            <input
              type="email"
              id="emailProductOwner"
              class="form-control"
              name="emailProductOwner"
              required
              email
              placeholder="Enter Product Owner email"
              [(ngModel)]="addProduct.emailProductOwner"
              #emailProductOwner="ngModel"
              [ngClass]="{ 'is-invalid': emailProductOwner.invalid && (emailProductOwner.dirty || emailProductOwner.touched) }"

              [showErrors]="{ required: 'Product Owner Email is required', email: 'Product Owner Email is not valid' }"
            />
          </div>
          <div class="mb-3">
            <label for="otherActivitiesPercentTime" class="form-label">Non Productive Time %<span class="text-danger ms-1">*</span></label>
            <input
              type="text"
              id="otherActivitiesPercentTime"
              class="form-control"
              name="otherActivitiesPercentTime"
              placeholder="Non Productive Time %"
              min="0"
              max="100"
              required
              [(ngModel)]="addProduct.otherActivitiesPercentTime"
              #otherActivitiesPercentTime="ngModel"
              [ngClass]="{ 'is-invalid': otherActivitiesPercentTime.invalid && (otherActivitiesPercentTime.dirty || otherActivitiesPercentTime.touched) }"

              [showErrors]="{ required: 'Non productive time is required', min:'Min value is 0',
              max:'Max value is 100', pattern: 'Should be number only'}"
            />
          </div>
          <div class="mb-3">
            <label for="releaseIteration" class="form-label">Release Duration<span class="text-danger ms-1">*</span></label>
            <select id="releaseIteration"  name="releaseIteration" class="form-control" required
                    [(ngModel)]="addProduct.releaseIteration"
                    #releaseIteration="ngModel"
                    [ngClass]="{ 'is-invalid': releaseIteration.invalid && (releaseIteration.dirty || releaseIteration.touched) }"
            >
              <option *ngFor="let releaseIteration of releaseIterations" [value]="releaseIteration.viewValue">
                {{ releaseIteration.value }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="startDate" class="form-label">First Working Date<span class="text-danger ms-1">*</span></label>
            <input
              type="date"
              id="startDate"
              class="form-control"
              name="startDate"
              required
              placeholder="Enter first working date"
              [(ngModel)]="addProduct.startDate"
              #startDate="ngModel"
              [ngClass]="{ 'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched) }"

              [showErrors]="{ required: 'First working date is required' }"
            />
          </div>
          <div class="mb-3">
            <label for="endDate" class="form-label">Last Delivery Date</label>
            <input
              type="date"
              id="endDate"
              class="form-control"
              name="endDate"
              placeholder="Last delivery date"
            />
          </div>
          <div class="text-center mt-2 d-flex justify-content-center gap-2">
            <button class="btn btn-primary w-20" type="submit" [disabled]="useForm.invalid">Save</button>
            <button type="reset" class="btn btn-secondary ms-2 w-20" >Reset</button>
          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>
