<div class="container-fluid px-4">
  <div class="col-md-4 offset-md-4">
    <div class="text-end mt-2">
      <a aria-controls="helpSection" aria-expanded="false" class="btn btn-link text-decoration-none"
         data-bs-toggle="collapse"
         href="#helpSection" role="button">
        <i class="bi bi-info-circle me-1"></i> Need Help?
      </a>
    </div>

    <!-- Help Card (Collapsed by default) -->
    <div class="collapse" id="helpSection">
      <div class="card shadow-sm mb-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">{{ messageChange('Product') }} Setup</h5>
          <p class="card-text">
            Provide basic information about your new {{ messageChange('product') }} to get started.
            <strong>Release Iteration</strong> & <strong>First Working Date</strong> will help you to auto create
            Release with
            start date and end date based on working days and weekend already defined. Once deliverable and their
            respective
            time estimates will be defined in following steps, plan of deliverables to possible release will be
            <strong>One Click</strong> away.
            Once following steps gets completed, you'll move to the planning phase.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0"><i class="bi bi-folder2-open me-2"></i> {{ messageChange('Product') }}</h4>
      </div>
      <div class="card-body bg-white col-md-10 offset-md-1">

        <form #useForm="ngForm" (ngSubmit)="onSubmit()">
          <div *ngIf="errorMessage" class="alert alert-danger mt-2 mb-3 mb-0" role="alert">
            {{ errorMessage }}
          </div>
          <div class="mb-3">
            <label class="form-label" for="name">{{ messageChange('Product') }} Name<span
              class="text-danger ms-1">*</span></label>
            <input
              #name="ngModel"
              [(ngModel)]="addProduct.name"
              [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"
              [showErrors]="{ required: 'Name is required' }"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter your {{messageChange('product')}} name"
              required

              type="text"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="code">{{ messageChange('Product') }} Code<span
              class="text-danger ms-1">*</span></label>
            <input
              #code="ngModel"
              [(ngModel)]="addProduct.code"
              [ngClass]="{ 'is-invalid': code.invalid && (code.dirty || code.touched) }"
              [showErrors]="{ required: 'Code is required' }"
              class="form-control"
              id="code"
              name="code"
              placeholder="Enter your {{messageChange('product')}} code"
              required

              type="text"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="emailProductManager">{{ messageChange('Product') }} Manager Email<span
              class="text-danger ms-1">*</span></label>
            <input
              #emailProductManager="ngModel"
              [(ngModel)]="addProduct.emailProductManager"
              [ngClass]="{ 'is-invalid': emailProductManager.invalid && (emailProductManager.dirty || name.touched) }"
              [showErrors]="{ required: 'Manager Email is required', email: 'Manager Email is not valid' }"
              class="form-control"
              email
              id="emailProductManager"
              name="emailProductManager"
              placeholder="Enter {{messageChange('Product')}} Manager email"
              required

              type="email"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="otherActivitiesPercentTime">Non Productive Time %<span
              class="text-danger ms-1">*</span></label>
            <input
              #otherActivitiesPercentTime="ngModel"
              [(ngModel)]="addProduct.otherActivitiesPercentTime"
              [ngClass]="{ 'is-invalid': otherActivitiesPercentTime.invalid && (otherActivitiesPercentTime.dirty || otherActivitiesPercentTime.touched) }"
              [showErrors]="{ required: 'Non productive time is required', min:'Min value is 0',
              max:'Max value is 100', pattern: 'Should be number only'}"
              class="form-control"
              id="otherActivitiesPercentTime"
              max="100"
              min="0"
              name="otherActivitiesPercentTime"
              placeholder="Non Productive Time %"
              required

              type="text"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="releaseIteration">Release Duration<span
              class="text-danger ms-1">*</span></label>
            <select #releaseIteration="ngModel" [(ngModel)]="addProduct.releaseIteration" [ngClass]="{ 'is-invalid': releaseIteration.invalid && (releaseIteration.dirty || releaseIteration.touched) }" class="form-control"
                    id="releaseIteration"
                    name="releaseIteration"
                    required
            >
              <option *ngFor="let releaseIteration of releaseIterations" [value]="releaseIteration.viewValue">
                {{ releaseIteration.value }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="startDate">First Working Date<span class="text-danger ms-1">*</span></label>
            <input
              #startDate="ngModel"
              [(ngModel)]="addProduct.startDate"
              [min]="getToDayDate()"
              [ngClass]="{ 'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched) }"
              [showErrors]="{ required: 'First working date is required' }"
              class="form-control"
              id="startDate"
              name="startDate"
              placeholder="Enter first working date"
              required

              type="date"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="endDate">Last Delivery Date</label>
            <input
              [min]="getToDayDate()"
              class="form-control"
              id="endDate"
              name="endDate"
              placeholder="Last delivery date"
              type="date"
            />
          </div>
          <div class="text-center mt-2 d-flex justify-content-center gap-2">
            <button [disabled]="useForm.invalid" class="btn btn-primary w-20" type="submit">Save</button>
            <button class="btn btn-secondary ms-2 w-20" type="reset">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
