<div class="container mt-5" xmlns="http://www.w3.org/1999/html">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white text-center">
      <h3>Product Setup</h3>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <label class="required-label">&nbsp;* </label>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
          placeholder="Enter your product name"
          [showErrors]="{ required: 'Product Name is required' }"
        />
      </div>
      <div class="mb-3">
        <label for="emailProductManager" class="form-label">Product Manager Email</label>
        <label class="required-label">&nbsp;* </label>
        <input
          type="text"
          id="emailProductManager"
          class="form-control"
          formControlName="emailProductManager"
          placeholder="Enter Product Manager email"
          [showErrors]="{ required: 'Product Manager Email is required', email: 'Product Manager Email is not valid' }"
        />
      </div>
      <div class="mb-3">
        <label for="emailProductOwner" class="form-label">Product Owner Email</label>
        <label class="required-label">&nbsp;* </label>
        <input
          type="text"
          id="emailProductOwner"
          class="form-control"
          formControlName="emailProductOwner"
          placeholder="Enter Product Owner email"
          [showErrors]="{ required: 'Product Owner Email is required', email: 'Product Owner Email is not valid' }"
        />
      </div>
      <div class="mb-3">
        <label for="releaseIteration" class="form-label">Release Duration</label>
        <label class="required-label">&nbsp;* </label>
        <select id="releaseIteration"  formControlName="releaseIteration" class="form-control">
          <option *ngFor="let releaseIteration of releaseIterations" [value]="releaseIteration.viewValue">
            {{ releaseIteration.value }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="otherActivitiesPercentTime" class="form-label">Non Productive Time %</label>
        <label class="required-label">&nbsp;* </label>
        <input
          type="text"
          id="otherActivitiesPercentTime"
          class="form-control"
          formControlName="otherActivitiesPercentTime"
          placeholder="Non Productive Time %"
          [showErrors]="{ required: 'Non productive time is required', min:'Min value is 0',
          max:'Max value is 100', pattern: 'Should be number only'}"
        />
      </div>
      <div class="mb-3">
        <label for="startDate" class="form-label">First Working Date</label>
        <label class="required-label">&nbsp;* </label>
        <input
          type="date"
          id="startDate"
          class="form-control"
          formControlName="startDate"
          placeholder="Enter first working date"
          [showErrors]="{ required: 'First working date is required' }"
        />
      </div>
      <div class="mb-3">
        <label for="endDate" class="form-label">Last Delivery Date</label>
        <input
          type="date"
          id="endDate"
          class="form-control"
          formControlName="endDate"
          placeholder="Last delivery date"
        />
      </div>
      <!-- Submit Button -->
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button type="reset" class="btn btn-secondary" >Reset</button>
      </div>
    </div>
    </form>
  </div>

</div>
