<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="home#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item" *ngIf="userName">
          <span class="text-white nav-link">Welcome, {{ userName || 'Guest' }}</span>
        </li>
        <li class="nav-item" *ngIf="userName">
          <button *ngIf="userName" class="btn btn-danger btn-sm align-middle" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!userName">
          <a class="nav-link" href="login#">Login</a>
        </li>
        <li class="nav-item" *ngIf="!userName">
          <a class="nav-link" href="company#">Company Sign Up</a>
        </li>
      </ul>
  </div>
</nav>

