<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
  <!-- Description Card -->
  <div class="card shadow-sm mb-2">
<!--
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
-->
    <div class="card-body">
      <h5 class="card-title">Upload Human Resources</h5>
      <p class="card-text">
        Upload an Excel file to add resources to your company. The file must include at least:
        <strong>Name, Email, and Designation</strong>. Optional fields include <strong>Mobile Number, Date of Birth, and Manager's Email</strong>.
        <br>
        After uploading, map the file columns to system fields.
      </p>
    </div>
  </div>

  <!-- Upload Card -->
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white text-center">
      <h3>Upload Resources</h3>
    </div>
    <div class="card-body">
      <!-- File Upload -->
      <div class="mb-3">
        <label for="fileUpload" class="form-label">Select Excel File</label>
        <input type="file" id="fileUpload" (change)="onFileChange($event)" class="form-control" accept=".xls,.xlsx" />
      </div>

      <!-- Preview Table -->
      <div class="table-responsive" *ngIf="rawData.length > 0">
        <table class="table table-striped table-hover table-bordered table-sm-custom text-sm mt-4">
          <thead class="table-secondary">
          <tr>
            <th *ngFor="let key of excelHeaders">
              {{ key | titlecase }}
              <div class="text-muted small">
                {{ predefinedFieldLabels[searchExcelColumnMapping(key)] || 'Unmapped' }}
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rawData.slice(0, 5)">
            <td *ngFor="let key of excelHeaders">{{ row[key] || ' - ' }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Mapping Section -->
      <div *ngIf="predefinedFields.length > 0 && excelHeadersUnmapped.length > 0" class="mt-5">
        <h5>Column Mapping</h5>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <div class="row">
          <div class="col-md-6 mb-3" *ngFor="let header of predefinedFields">
            <div *ngIf="mappedHeaders[header] === undefined">
              <label class="form-label">
                {{ predefinedFieldLabels[header] }}
                <span *ngIf="!!requiredFields[header]" class="text-danger ms-1">*</span>
              </label>
              <select class="form-select" [(ngModel)]="mappedHeaders[header]" (change)="onMappingChange()"
                      [required]="!!requiredFields[header]">
                <option value="">-- Select Field --</option>
                <option *ngFor="let field of excelHeadersUnmapped" [value]="field">{{ field }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Date Format Selection -->
      <div *ngIf="!!mappedHeaders['dateOfBirth']" class="mt-4">
        <label class="form-label">
          Date Format
          <span class="text-danger ms-1">*</span>
        </label>
        <select class="form-select" [(ngModel)]="dateFormat" required>
          <option value="">-- Select Format --</option>
          <option *ngFor="let field of dateFormats" [value]="field">{{ field }}</option>
        </select>
      </div>

      <!-- Submit Buttons -->
      <div class="text-center mt-2 d-flex justify-content-center gap-2" *ngIf="rawData.length > 0">
        <button class="btn btn-primary w-20" type="submit" (click)="onSubmit()" [disabled]="!isFormValid()">Submit</button>
        <button class="btn btn-secondary w-20" type="reset" (click)="onReset()">Reset</button>
      </div>
      <div class="text-center mt-2 d-flex justify-content-center gap-2" *ngIf="rawData.length == 0 && isWizard()">
        <button class="btn btn-primary w-20" type="reset" (click)="onSkip()">Skip</button>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
