<div class="container-lg mt-0 px-0">
  <div class="col-md-12 offset-md-0">
    <div class="text-end mt-2">
      <a aria-controls="helpSection" aria-expanded="false" class="btn btn-link text-decoration-none"
         data-bs-toggle="collapse"
         href="#helpSection" role="button">
        <i class="bi bi-info-circle me-1"></i> Need Help?
      </a>
    </div>

    <!-- Help Card (Collapsed by default) -->
    <div class="collapse" id="helpSection">
      <div class="card shadow-sm mb-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">Deliverable</h5>
          <p class="card-text">
            Deliverable is a task which can be achieved within a release. "Planning" page can be used to define
            what roles are required to get it completed and how much
            time estimation is for each role.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h4 class="mb-0"><i
          class="bi  bi-file-earmark me-2"></i> Deliverable </h4>
        <button (click)="closeDialog()" class="btn btn-sm text-white">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <form #userForm="ngForm">
              <!--form-floating-->
              <div class=" mb-3 mt-0">
                <label for="title">Title<span class="text-danger ms-1">*</span></label>
                <span (click)="makeTitleEditable=true;" *ngIf="!makeTitleEditable" [innerHTML]="epicBean.title"
                      class="span-quill-custom fw-bold"></span>
                <textarea #title="ngModel" *ngIf="makeTitleEditable" [(ngModel)]="epicBean.title" [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }"
                          [showErrors]="{ required: 'Title is required' }"
                          class="form-control"
                          id="title"
                          name="title"
                          required></textarea>
              </div>

              <div class=" mb-3 mt-2">
                <label class="form-label" for="details">Details</label>
                <span (click)="makeDescEditable=true;" *ngIf="!makeDescEditable" [innerHTML]="epicBean.details"
                      class="span-quill-custom"></span>
                <quill-editor #details="ngModel"
                              *ngIf="makeDescEditable"
                              [(ngModel)]="epicBean.details" class="quill-custom" id="details"
                              name="details"></quill-editor>

              </div>
              <div class=" mb-3 mt-2 col-md-4">
                <label class="form-label">Priority<span class="text-danger ms-1">*</span></label>
                <!--
                                placeholder="Select Priority"
                                [addTag]="true"
                                  (add)="addNewPriority($event)"
                -->

                <!--
                -->
                <ng-select
                  #priorityId="ngModel"
                  [(ngModel)]="epicBean.priorityId"
                  [addTag]="addNewPriority"
                  [clearable]="true"
                  [items]="priorities"
                  [ngClass]="{ 'is-invalid': priorityId.invalid && (priorityId.dirty || priorityId.touched) }"
                  [searchable]="true"
                  appendTo="body"
                  bindLabel="name"
                  bindValue="id"
                  class="form-control"
                  id="priorityId"
                  name="priorityId"
                  required
                >
                </ng-select>


                <!-- <select name="priorityId"  [(ngModel)]="epicBean.priorityId" class="form-control" required id="priorityId"
                         placeholder="Select Priority"

                         #priorityId="ngModel"
                         [ngClass]="{ 'is-invalid': priorityId.invalid && (priorityId.dirty || priorityId.touched) }"
                         [showErrors]="{ required: 'Priority is required' }"
                 >
                   <option value="">Select Priority</option>
                   <option *ngFor="let m of priorities" [value]="m.id">
                     {{ m.name }}
                   </option>

                 </select>-->

              </div>
              <div class=" mb-3 mt-2 col-md-4">
                <label class="form-label" for="componentId">Component</label>
                <ng-select
                  #componentId="ngModel"
                  [(ngModel)]="epicBean.componentId"
                  [addTag]="addNewSubComponent"
                  [clearable]="true"
                  [items]="subComponents"
                  [ngClass]="{ 'is-invalid': componentId.invalid && (componentId.dirty || componentId.touched) }"
                  [searchable]="true"
                  appendTo="body"
                  bindLabel="name"
                  bindValue="id"
                  class="form-control"
                  id="componentId"
                  name="componentId"
                >
                </ng-select>

                <!--<select id="componentId" name="componentId"  [(ngModel)]="epicBean.componentId"
                        placeholder="Select Component"
                        class="form-control" #componentId="ngModel">
                  <option *ngFor="let m of subComponents" [value]="m.id">
                    {{ m.name }}
                  </option>
                </select>-->

              </div>

              <div class=" mb-3 mt-2 col-md-4">
                <label class="form-label" for="requiredBy">Required By</label>
                <input #requiredBy="ngModel" [(ngModel)]="epicBean.requiredBy" class="form-control" id="requiredBy"
                       name="requiredBy" type="date"
                >

              </div>

              <div class=" mb-3 mt-2 col-md-4">
                <label class="form-label" for="valueGain">Value Gain (In number)</label>
                <input #valueGain="ngModel" [(ngModel)]="epicBean.valueGain" class="form-control" id="valueGain"
                       name="valueGain"
                       placeholder="Enter value gain"
                       type="number"
                       min="0"
                >


              </div>
              <div class=" mb-3 mt-2 col-md-4" *ngIf="!epicBean.replicatedById">
                <input type="checkbox"
                     name="replicate"
                     id="replicate"
                     [readOnly]="epicBean.status != EpicStatusEnum.OPEN"
                     [(ngModel)]="epicBean.replicate"
                     #replicate="ngModel"
                     class="form-check-input me-2"
                     [ngClass]="{ 'is-invalid': replicate.invalid && (replicate.dirty || replicate.touched) }">
                <label for="replicate" class="form-label">Template</label>
              </div>
              <div class=" mb-3 mt-2">
                <label class="form-label" for="risks">Risks</label>
                <span (click)="makeRiskEditable=true;" *ngIf="!makeRiskEditable" [innerHTML]="epicBean.risks"
                      class="span-quill-custom"></span>
                <quill-editor #risks="ngModel"
                              *ngIf="makeRiskEditable"
                              [(ngModel)]="epicBean.risks" class="quill-custom" id="risks"
                              name="risks"></quill-editor>
              </div>

              <div class="text-center mt-2 mb-2 d-flex justify-content-center gap-2">
                <button (click)="onSubmit(userForm)" [disabled]="userForm.invalid" class="btn btn-primary w-20"
                        type="submit">Save
                </button>
                <button (click)="closeDialog()" class="btn btn-secondary ms-2 w-20" type="submit">Close</button>
              </div>
            </form>

            <ng-container *ngIf="epicBean.id>0">
              <h5 class="mt-2 mb-0">Feedback</h5>
              <div *ngIf="comments.length>0" class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
                  <thead class="table-secondary">
                  <tr>
                    <th>Comments</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let epicDetail of comments">
                    <td>
                      <span [innerHTML]="epicDetail.details" class="span-quill-custom"></span>
                      <div class="text-end">
                        <small>
                          <em>Updated By: {{ epicDetail.createdByName }} - Updated
                            At: {{ epicDetail.createdDate ? (epicDetail.createdDate | date: AppConstants.DATE_TIME_FORMAT) : '-' }}
                          </em>
                        </small>
                      </div>
                    </td>
                    <td class="text-center">
                      <a (click)="deleteEpicDetail(epicDetail)" *ngIf="this.rights.resourceId==epicDetail.createdById"
                         class="btn btn-sm btn-tight-custom"
                         title="Delete">
                        <i class="bi bi-trash action-icon"></i>
                      </a>
                    </td>
                  </tbody>
                </table>
              </div>
              <form #commentForm="ngForm" class="d-flex align-items-center gap-2 mt-2">
                <!--[styles]="{height: '200px'}"-->
                <quill-editor [(ngModel)]="comment.details"
                              class="quill-custom"
                              id="comments" name="details"

                ></quill-editor>
                <button (click)="addEpicDetail(comment, EpicDetailType.COMMENT)" [disabled]="commentForm.invalid" class="btn btn-primary btn-sm"
                        type="submit">Add
                </button>
              </form>
            </ng-container>
          </div>
          <div class="col-md-4">
            <ng-container *ngIf="epicBean.id==0">
              <h5 class="mt-2 mb-0 disabled">Attachments</h5>
              Deliverable to be created to upload attachments.
              <h5 class="mt-2 mb-0 disabled">Urls</h5>
              Deliverable to be created to add Urls.
              <h5 class="mt-2 mb-0 disabled">Relations</h5>
              Deliverable to be created to add relations.
              <h5 class="mt-2 mb-0 disabled">References</h5>
              Deliverable to be created to add references.
            </ng-container>
            <ng-container *ngIf="epicBean.id>0">
              Status: <strong>{{ epicBean.status }}</strong>
              <ng-container *ngIf="epicBean.createdByName">
              <br/>Added By: {{ epicBean.createdByName }}
              <br/>Added
              At: {{ epicBean.createdDate ? (epicBean.createdDate | date: AppConstants.DATE_TIME_FORMAT) : '-' }}
              </ng-container>
              <br/>Release: {{ epicBean.release ? epicBean.release.name : 'Yet to plan' }}
              <span *ngIf="epicBean.release"><br/>Release Status: {{ epicBean.release.status }}</span>

              <h5 class="mt-2 mb-0">Attachments</h5>

              <div *ngIf="files.length>0" class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
                  <thead class="table-secondary">
                  <tr>
                    <th>File</th>
                    <th *ngIf="isManager(this.rights)">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let epicDetail of files">
                    <td>File Name: <a (click)="download(epicDetail)" class="btn btn-sm btn-tight-custom me-1"
                                      title="Download">
                      {{ epicDetail.name }}
                    </a>
                      <br/>Detail: {{ epicDetail.details }}
                      <div class="text-end">
                        <small><em>
                          Added By: {{ epicDetail.createdByName }}
                          <br/>Added
                          At: {{ epicDetail.createdDate ? (epicDetail.createdDate | date: AppConstants.DATE_TIME_FORMAT) : '-' }}
                        </em></small>
                      </div>
                    </td>
                    <td *ngIf="isManager(this.rights)" class="text-center">
                      <a (click)="deleteEpicDetail(epicDetail)" class="btn btn-sm btn-tight-custom"
                         title="Delete">
                        <i class="bi bi-trash action-icon"></i>
                      </a>
                    </td>
                  </tbody>
                </table>
              </div>
              <form #attachForm="ngForm" (submit)="onSubmitFileForm()"
                    class="align-items-center gap-2 mt-1"
                    enctype="multipart/form-data">

                <input (change)="onFileSelected($event)"
                       class="form-control form-control-sm w-auto"
                       required type="file"/>

                <div class="w-100"></div> <!-- 👈 forces next element to next line -->
                <div class="d-flex align-items-center gap-2 mt-2">
                  <input [(ngModel)]="descriptionForFileUpload"
                         class="form-control form-control-sm"
                         name="descriptionForFileUpload"
                         placeholder="File Description"
                         type="text"/>

                  <button [disabled]="attachForm.invalid" class="btn btn-sm btn-primary" type="submit">Upload</button>
                </div>
              </form>
              <h5 class="mt-2 mb-0">Urls</h5>

              <div *ngIf="urls.length>0" class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
                  <thead class="table-secondary">
                  <tr>
                    <th>Url</th>
                    <th *ngIf="isManager(this.rights)">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let epicDetail of urls">
                    <td>Ref.: {{ epicDetail.name }}
                      <div class="text-end">
                        <small><em>
                          Added By: {{ epicDetail.createdByName }}
                          <br/>Added
                          At: {{ epicDetail.createdDate ? (epicDetail.createdDate | date: AppConstants.DATE_TIME_FORMAT) : '-' }}
                        </em></small>
                      </div>
                    </td>
                    <td *ngIf="isManager(this.rights)" class="text-center">
                      <a (click)="deleteEpicDetail(epicDetail)" class="btn btn-sm btn-tight-custom"
                         title="Delete">
                        <i class="bi bi-trash action-icon"></i>
                      </a>
                    </td>
                  </tbody>
                </table>
              </div>
              <form #urlForm="ngForm" class="d-flex align-items-center gap-2 mt-1">
                <input [(ngModel)]="url.name" class="form-control form-control-sm w-auto" name="name" placeholder="Url"
                       required type="text"/>
                <button (click)="addEpicDetail(url, EpicDetailType.URL)" [disabled]="urlForm.invalid" class="btn btn-sm btn-primary"
                        type="submit">Add
                </button>
              </form>
              <h5 class="mt-2 mb-0">Relations</h5>
              <div *ngIf="epicLinks.length>0" class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
                  <thead class="table-secondary">
                  <tr>
                    <th>Relationship</th>
                    <th *ngIf="isManager(this.rights)">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let epicLink of epicLinks">
                    <td>{{ epicLink.linkType | prettyLabel }} {{ epicLink.details }}
                      <div class="text-end">
                        <small><em>
                          Added By: {{ epicLink.createdByName }}
                          <br/>Added
                          At: {{ epicLink.createdDate ? (epicLink.createdDate | date: AppConstants.DATE_TIME_FORMAT) : '-' }}
                        </em></small>
                      </div>
                    </td>
                    <td *ngIf="isManager(this.rights)" class="text-center">
                      <a (click)="deleteEpicLink(epicLink)" class="btn btn-sm btn-tight-custom"
                         title="Delete">
                        <i class="bi bi-trash action-icon"></i>
                      </a>
                    </td>
                  </tbody>
                </table>
              </div>
              <form #relForm="ngForm" class="d-flex align-items-center gap-2 mt-1">
                <select #linkType="ngModel" [(ngModel)]="link.linkType" [ngClass]="{ 'is-invalid': linkType.invalid && (linkType.dirty || linkType.touched) }" [showErrors]="{ required: 'Type is required' }"
                        class="form-control form-control-sm w-auto"
                        id="linkType"
                        name="linkType"
                        required

                >
                  <option value="">Select Type</option>
                  <option>
                    {{ EpicLinkType.RELATED_TO }}
                  </option>
                  <option>
                    {{ EpicLinkType.DEPEND_ON }}
                  </option>
                </select>
                <input [(ngModel)]="link.details" class="form-control form-control-sm w-auto" id="detailsL" name="details" placeholder="Code"
                       required type="text"/>
                <button (click)="addEpicLink(link)" [disabled]="relForm.invalid" class="btn btn-primary btn-sm"
                        type="submit">Add
                </button>
              </form>
              <h5 class="mt-2 mb-0">References</h5>

              <div *ngIf="references.length>0" class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
                  <thead class="table-secondary">
                  <tr>
                    <th>Reference</th>
                    <th *ngIf="isManager(this.rights)">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let epicDetail of references">
                    <td>Ref.: {{ epicDetail.name }}
                      <div class="text-end">
                        <small><em>
                          Added By: {{ epicDetail.createdByName }}
                          <br/>Added
                          At: {{ epicDetail.createdDate ? (epicDetail.createdDate | date: AppConstants.DATE_TIME_FORMAT) : '-' }}
                        </em></small>
                      </div>
                    </td>
                    <td *ngIf="isManager(this.rights)" class="text-center">
                      <a (click)="deleteEpicDetail(epicDetail)" class="btn btn-sm btn-tight-custom"
                         title="Delete">
                        <i class="bi bi-trash action-icon"></i>
                      </a>
                    </td>
                  </tbody>
                </table>
              </div>
              <form #refForm="ngForm" class="d-flex align-items-center gap-2 mt-1">
                <input [(ngModel)]="reference.name" class="form-control form-control-sm w-auto" id="name" name="name" placeholder="Reference"
                       required type="text"/>
                <button (click)="addEpicDetail(reference, EpicDetailType.REFERENCE)" [disabled]="refForm.invalid" class="btn btn-sm btn-primary"
                        type="submit">Add
                </button>
              </form>

            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

