<div class="container-lg mt-4" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-12 offset-md-0">

      <!-- Intro Card -->
      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <h5 class="card-title">Estimation for Deliverable</h5>
          <p class="card-text">
            Here we go to define time estimation required for each role to get the deliverable done within a release.
            We can define the number of resources more than one if multiple resources of same role need to work on it within release.
          </p>
        </div>
      </div>

      <!-- Main Form Card -->
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="h4 mb-0">Estimates for: {{epicBean.code}}</h2>
        </div>

        <form  #userForm="ngForm" >
        <div class="card-body">

          <table class="table table-striped table-hover table-bordered table-sm-custom text-sm">
            <thead class="table-secondary" >
            <tr>
              <th>Role</th>
              <th>Estimate</th>
              <th>Resources</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let epicEstimate of epicEstimatBeans; let i = index">
              <td>
                {{ epicEstimate.roleName }}
              </td>
              <td> <input id="estimateStr-{{ i }}" [(ngModel)]="epicEstimate.estimateStr" type="text"
                          name="estimateStr-{{ i }}"
                          class="form-control"
                      #estimateStr="ngModel"
                          [ngClass]="{ 'is-invalid': estimateStr.invalid && (estimateStr.dirty || estimateStr.touched) }"
                          [showErrors]="{ required: 'Estimate is required', step:'Step' }"
                      />
              </td>
              <td> <input id="resources-{{ i }}" [(ngModel)]="epicEstimate.resources" type="number"
                          name="resources-{{ i }}"
                          required class="form-control"
                          min="1"
                          #resources="ngModel"
                          [ngClass]="{ 'is-invalid': resources.invalid && (resources.dirty || resources.touched) }"
                          [showErrors]="{ required: 'Resources is required',min: 'Min value is 1', step:'Step' }"
                          />
              </td>
              <td class="text-center">
                <button class="btn btn-danger btn-sm"  (click)="removeEpicEstimate(i)" [disabled]="epicEstimate.estimateStr==''">Not Required</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
          <div class="text-center mb-2 d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary w-20" [disabled]="userForm.invalid" (click)="onSubmit(userForm)">Save & Close</button>
            <button type="submit" class="btn btn-secondary ms-2 w-20" (click)="closeDialog()">Close</button>
          </div>
      </form>
      </div>

    </div>
  </div>
</div>



<!--


        <div class="card-body">
          @for (epicEstimate of epicEstimatBeans; track epicEstimate) {
            <div class="row">
              <div>
                <label for="epicId" class="form-label">Epic ID:</label>
                <input
                  type="number"
                  id="epicId"
                  [(ngModel)]="epicEstimate.epicId"
                  class="form-control"
                  name="epicId"
                  required
                />
              </div>
              <div>
                <label for="resources" class="form-label">Resources:</label>
                <input
                  type="number"
                  id="resources"
                  [(ngModel)]="epicEstimate.resources"
                  class="form-control"
                  name="resources"
                  required
                />
              </div>
              <div>
                <label for="hours" class="form-label">Hours:</label>
                <input
                  type="number"
                  id="hours"
                  [(ngModel)]="epicEstimate.hours"
                  class="form-control"
                  name="hours"
                  required
                />
              </div>
              <div>
                <label for="roleId" class="form-label">Role ID:</label>
                <input
                  type="number"
                  id="roleId"
                  [(ngModel)]="epicEstimate.roleId"
                  class="form-control"
                  name="roleId"
                  required
                />
              </div>
              <div>
                <label for="resourceId" class="form-label">Resource ID:</label>
                <input
                  type="number"
                  id="resourceId"
                  [(ngModel)]="epicEstimate.resourceId"
                  class="form-control"
                  name="resourceId"
                />
              </div>
              <div>
                <label class="form-label">
                  <input
                    type="checkbox"
                    [(ngModel)]="epicEstimate.changedManually"
                    class="form-control"
                    name="changedManually"
                  />
                  Changed Manually
                </label>
              </div>
            </div>
          }
          -->
