<div class="container mt-4">
  <h2>Unplanned Epics</h2>


  <ngx-datatable
    [rows]="unplannedEpics"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [sorts]="[{ prop: 'priorityLevel', dir: 'asc' }]"
    class="material">

    <ngx-datatable-column name="Code" prop="code" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column name="Title">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="updateEpicModal(editEpicTemplate,row.id)">{{ row.title }}</a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Priority" prop="priorityLevel" [sortable]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.priorityName }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <button class="btn btn-primary mb-3" (click)="createEpicModal(editEpicTemplate)">Add Epic</button>

<!--
        <button class="btn btn-danger btn-sm" (click)="deleteCompanyWorkingHour(wh.id)"
         *ngIf="wh.scope !== WorkingHourEnum.DEFAULT">Delete</button>
        <button class="btn btn-danger btn-sm" (click)="updateEpicModal(editEpicTemplate, wh.id)">Edit</button>
-->

  <ng-template #editEpicTemplate>
    <div class="modal fade show d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add/Update Epic</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label class="form-label">Title</label><label class="required-label">&nbsp;* </label>
                <input type="text" class="form-control" [(ngModel)]="editEpic.title" name="title" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Details</label>
                <textarea class="form-control" [(ngModel)]="editEpic.details" name="details" ></textarea>
              </div>
              <div class="mb-3">
                <label class="form-label">Priority</label><label class="required-label">&nbsp;* </label>
                <select name="priorityId"  [(ngModel)]="editEpic.priorityId" class="form-control" required>
                  <option *ngFor="let m of priorities" [value]="m.id">
                    {{ m.name }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Value Gain (In number)</label>
                <input type="text" class="form-control" [(ngModel)]="editEpic.valueGain" name="valueGain" >
              </div>
              <div class="mb-3">
                <label class="form-label">Risks</label>
                <textarea class="form-control" [(ngModel)]="editEpic.risks" name="risks" ></textarea>
              </div>
              <div class="mb-3">
                <label class="form-label">Required By</label>
                <input type="date" class="form-control" [(ngModel)]="editEpic.requiredBy" name="requiredBy">
              </div>
              <div class="mb-3">
                <label class="form-label">Component</label>
                <select name="componentId"  [(ngModel)]="editEpic.componentId" class="form-control">
                  <option *ngFor="let m of subComponents" [value]="m.id">
                    {{ m.name }}
                  </option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button class="btn btn-success" (click)="updateEpic()" *ngIf="editEpic.id>0">Update</button>
            <button class="btn btn-success" (click)="createEpic()" *ngIf="editEpic.id===0">Add</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</div>
