<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-12 offset-md-0">

      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="h4 mb-0">Planned Releases</h2>
        </div>

        <ul class="custom-nav-list">
          <li *ngFor="let releaseDetailLink of releases;let i = index">
            <a [routerLink]="[]" [fragment]="'plannedRelease'+i" class="custom-nav-link" *ngIf="i>0">
              {{releaseDetailLink.release?.name}}</a>
          </li>
        </ul>
  <div class="col-md-12" >

    <div class="row release" *ngFor="let releaseDetail of releases;let i = index" [id]="'plannedRelease'+i">
      <div class="">
        <div class="card-header release-info-card">
          <ul class="release-info-list">
            <li><strong>Release:</strong> {{ releaseDetail.release?.name }}</li>
            <li><strong>Start Date:</strong> {{ releaseDetail.release?.startDate }}</li>
            <li><strong>End Date:</strong> {{ releaseDetail.release?.endDate }}</li>
            <li><strong>Working Days:</strong> {{ releaseDetail.release?.workingDays }}</li>
            <li><strong>Status:</strong>
              <span [ngClass]="releaseStatusClass(releaseDetail.release?.status)">
                {{ releaseDetail.release?.status }}
              </span>
            </li>
            <li>
              <a (click)="startRelease(releaseDetail)" title="Start working on release" class="btn btn-sm btn-outline-success">
                <i class="bi bi-play"></i> Start
              </a>
            </li>
            <li>
              <a (click)="unplanRelease(releaseDetail)" title="Un plan the release" class="btn btn-sm btn-outline-success">
                <i class="bi bi-stop-circle"></i> Un plan
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 table-responsive">
              <ngx-datatable
                class="bootstrap-table table-striped table-bordered table-hover"
                [rows]="releaseDetail.epics"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [sorts]="[{ prop: 'priorityLevel', dir: 'asc' }]"
                [rowClass]="getRowClass"
                >

                <ngx-datatable-column name="Code" prop="code" [sortable]="true"></ngx-datatable-column>
                <ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
                <ngx-datatable-column name="Priority" prop="priorityLevel" [sortable]="true">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.priorityName}}
                    <a (click)="changePriorityToUpper(row)" title="Move it to higher priority"
                       *ngIf="showChangePriorityToUpper(row)">
                      <i class="bi bi-arrow-up-short action-icon"></i>
                    </a>
                    <a (click)="changePriorityToLower(row)" title="Move it to lower priority"
                       *ngIf="showChangePriorityToLower(row)">
                      <i class="bi bi-arrow-down-short action-icon"></i>
                    </a>

                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Assignment" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div [innerHTML]="showAssignments(row.assignments)"></div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
            <div class="col-md-4">
              <ngx-datatable
                [rows]="releaseDetail.resourceCaps"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                class="material">
                <ngx-datatable-column name="Resource" prop="resourceName"></ngx-datatable-column>
                <ngx-datatable-column name="Time Assigned">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.prodBasedAssignedTime | decimalToTime}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Remaining Assignable Time">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.prodBasedAssignableTime - row.prodBasedAssignedTime | decimalToTime}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
      <ul class="custom-nav-list">
        <li *ngFor="let releaseDetailLink of releases;let j = index">
          <a [routerLink]="[]" [fragment]="'plannedRelease'+j" class="custom-nav-link" *ngIf="j<i || j>i+1">
            {{releaseDetailLink.release?.name}}</a>
        </li>
      </ul>
    </div>
  </div>
      </div>
    </div>
  </div>



</div>
