<div class="container-fluid px-4">

  <<div class="card mb-2 mt-2">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0"><i class="bi bi-box me-2"></i> Planned releases</h4>
    </div>
    <div class="card-body bg-white">
      <ng-container *ngIf="releases.length==0">There is no planned release.</ng-container>
      <div class="d-flex">
        <ul class="navbar-nav d-flex flex-row flex-wrap gap-2 mb-2 mb-lg-0 ms-auto">
          <li class="nav-item" *ngFor="let releaseDetailLink of releases;let i = index">
            <a [routerLink]="[]" [fragment]="'plannedRelease'+i" class="nav-link px-2" *ngIf="i>0">
              {{ releaseDetailLink.release?.name }}</a>
          </li>
        </ul>
      </div>

      <div class="row release" *ngFor="let releaseDetail of releases;let i = index" [id]="'plannedRelease'+i">
        <!-- Release Details -->
        <div class="mb-2 px-2 p-0 d-flex justify-content-between align-items-center flex-wrap bg-primary-subtle">
          <div class="release-info-text text-dark text-center fs-5">
            Release: {{ releaseDetail.release?.name }} &nbsp;|&nbsp;
            Start Date: <strong>{{ releaseDetail.release?.startDate }}</strong> &nbsp;|&nbsp;
            End Date: <strong>{{ releaseDetail.release?.endDate }}</strong> &nbsp;|&nbsp;
            Working Days: {{ releaseDetail.release?.workingDays }}
          </div>

          <div class="mt-2 mt-lg-0">
            <button class="btn btn-lg me-2 p-1"
                    *ngIf="isManager(this.rights)"
                    (click)="startRelease(releaseDetail)" title="Start working on release.">
              <i class="bi bi-play"></i> Start
            </button>
            <button class="btn btn-lg me-1 p-1"
                    *ngIf="isManager(this.rights)"
                    (click)="unplanRelease(releaseDetail)" title="Un plan the release.">
              <i class="bi bi-stop-circle"></i> Remove from plan
            </button>
          </div>
        </div>


        <div class="table-responsive mb-2">
          <ngx-datatable
              class="bootstrap-table table-striped table-bordered table-hover"
              [rows]="releaseDetail.epics"
              [columnMode]="'force'"
              [headerHeight]="40"
              [footerHeight]="40"
              [rowHeight]="'auto'"
              [sorts]="[{ prop: 'priorityLevel', dir: 'asc' }]"
              [rowClass]="getRowClass"
            >

              <ngx-datatable-column name="Code" prop="code" [sortable]="true" [width]="80" [minWidth]="80"
                                    [maxWidth]="80"></ngx-datatable-column>
              <ngx-datatable-column name="Title" prop="title">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.title }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Dependends On">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div [innerHTML]="relationData(row.dependsOn, EpicLinkType.DEPEND_ON, false)"
                       *ngIf="row.dependsOn && row.dependsOn.length>0"></div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Related To">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div [innerHTML]="relationData(row.relatedTo, EpicLinkType.RELATED_TO, false)"
                       *ngIf="row.relatedTo && row.relatedTo.length>0"></div>
                </ng-template>
              </ngx-datatable-column>
            <ngx-datatable-column [maxWidth]="120" [sortable]="true" name="Priority" prop="priorityLevel">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="!row.editingPriority" (click)="row.editingPriority = true"
                     title="Priority. Click over it to change.">
                  {{ row.priorityName?row.priorityName:'+' }}
                </div>
                <div  *ngIf="row.editingPriority">
                  <ng-select

                    #priorityId="ngModel"
                    [(ngModel)]="row.priorityId"
                    [clearable]="true"
                    [items]="priorities"
                    [searchable]="true"
                    appendTo="body"
                    bindLabel="name"
                    bindValue="id"
                    class="form-control"
                    name="priorityId"
                    (blur)="row.editPriority = false"
                    (change)="savePriority(row)"
                  >
                  </ng-select>
                </div>

                <a (click)="changePriorityToUpper(row)" *ngIf="row.priorityId && showChangePriorityToUpper(row)"
                   title="Move it to higher priority">
                  <i class="bi bi-arrow-up-short"></i>
                </a>
                <a (click)="changePriorityToLower(row)" *ngIf="row.priorityId && showChangePriorityToLower(row)"
                   title="Move it to lower priority">
                  <i class="bi bi-arrow-down-short"></i>
                </a>

              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [maxWidth]="105" [sortable]="true" name="Required By" prop="requiredBy">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="!row.editingRequiredBy" (click)="row.editingRequiredBy = true"
                     title="Required by date. Click over it to change.">
                  {{ row.requiredBy?row.requiredBy:'+' }}
                </div>

                <input *ngIf="row.editingRequiredBy"
                       title="Delivery is required by date."
                       #requiredBy="ngModel"
                       (blur)="saveRequiredBy(row)"
                       (keydown.enter)="saveRequiredBy(row)"
                       [(ngModel)]="row.requiredBy"
                       [readOnly]="!(isManager(this.rights))"
                       class="form-control-sm p-1"
                       name="requiredBy"
                       min="0"
                       style="width: 90px;"
                       type="date"/>
              </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column [maxWidth]="80" [sortable]="true" name="Value Gain" prop="valueGain">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="!row.editingValueGain" (click)="row.editingValueGain = true"
                     title="Value to be gained. Click over it to change.">
                  {{ row.valueGain }}
                </div>
                <!--
                                (blur)="row.editingValueGain = false"
                -->
                <input *ngIf="row.editingValueGain"
                       title="Value to gain on completion of."
                       #valueGain="ngModel"
                       (blur)="saveValueGain(row)"
                       (keydown.enter)="saveValueGain(row)"
                       [(ngModel)]="row.valueGain"
                       [readOnly]="!(isManager(this.rights))"
                       class="form-control-sm p-1"
                       name="valueGain"
                       min="0"
                       style="width: 70px;"
                       type="number"/>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [maxWidth]="80" [sortable]="true" name="Replicated">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.replicatedById ? 'Yes' : 'No' }}
              </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column name="Assignment" [maxWidth]="300">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div [innerHTML]="showAssignments(row.assignments)"></div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [maxWidth]="150" [headerClass]="'text-center'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div style="text-align: center;">
                  <a (click)="unplanEpic(row.id, releaseDetail.release.id)"
                     title="Remove it from release plan"
                     *ngIf="isManager(this.rights)"  class="btn btn-sm">
                    <i class="bi bi-dash-square"></i>
                  </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <div class="table-responsive mb-2">
          <ngx-datatable
              [rows]="releaseDetail.resourceCaps"
              [columnMode]="'force'"
              [headerHeight]="40"
              [footerHeight]="0"
              [rowHeight]="'auto'"
              class="material">
              <ngx-datatable-column name="Resource" prop="resourceName"></ngx-datatable-column>
              <ngx-datatable-column name="Availability" [width]="150" [minWidth]="150" [maxWidth]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignableTime | decimalToTime }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time Assigned" [width]="150" [minWidth]="150" [maxWidth]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignedTime | decimalToTime }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time Unassigned" [width]="150" [minWidth]="150" [maxWidth]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignableTime - row.prodBasedAssignedTime | decimalToTime }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time Utilization" [width]="500" [minWidth]="500" [maxWidth]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="progress m-1" style="height: 20px;">
                    <div class="progress-bar bg-success" role="progressbar"
                         [ngClass]="{'bg-danger': getAssignedPercentage(row)>100,
                              'bg-primary': getAssignedPercentage(row)<=100}"
                         [style.width.%]="getAssignedPercentage(row)"
                         aria-valuemin="0" aria-valuemax="100">{{ getAssignedPercentage(row) | truncateNumber }}%
                    </div>
                  </div>
                  <!--<div class="time-bar-container">

                    <div
                      class="time-bar-assigned"
                      [style.width.%]="getAssignedPercentage(row)"
                      title="Time Assigned: {{ row.prodBasedAssignedTime | decimalToTime }}">
                    </div>
                    <div
                      class="time-bar-remaining"
                      [style.width.%]="100 - getAssignedPercentage(row)"
                      title="Time Unassigned: {{ row.prodBasedAssignableTime - row.prodBasedAssignedTime | decimalToTime }}">
                    </div>
                  </div>-->
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <div>
          <div class="d-flex">
            <ul class="navbar-nav d-flex flex-row flex-wrap gap-2 mb-2 mb-lg-0 ms-auto">
              <li class="nav-item" *ngFor="let releaseDetailLink of releases;let j = index">
                <a [routerLink]="[]" [fragment]="'plannedRelease'+j" class="nav-link px-2" *ngIf="j<i || j>i+1">
                  {{ releaseDetailLink.release?.name }}</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
