<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-12 offset-md-0">

      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="h4 mb-0">Planned Releases</h2>
        </div>

  <div class="col-md-12">
    <div class="row release" *ngFor="let releaseDetail of releases" >
      <div class="">
        <div class="card-header release-info-card">
          <ul class="release-info-list">
            <li><strong>Release:</strong> {{ releaseDetail.release?.name }}</li>
            <li><strong>Start Date:</strong> {{ releaseDetail.release?.startDate }}</li>
            <li><strong>End Date:</strong> {{ releaseDetail.release?.endDate }}</li>
            <li><strong>Working Days:</strong> {{ releaseDetail.release?.workingDays }}</li>
            <li><strong>Status:</strong>
              <span [ngClass]="releaseStatusClass(releaseDetail.release?.status)">
                {{ releaseDetail.release?.status }}
              </span>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Epics</h5>
          <div class="row">
          <div class="col-md-8">
            <ngx-datatable
              [rows]="releaseDetail.epics"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [sorts]="[{ prop: 'priorityLevel', dir: 'asc' }]"
              class="material">

              <ngx-datatable-column name="Code" prop="code" [sortable]="true"></ngx-datatable-column>
              <ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
              <ngx-datatable-column name="Priority" prop="priorityLevel" [sortable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.priorityName }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Assignment" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a (click)="openDialogForEstimates(row)" title="Change Estimates"><div [innerHTML]="showAssignments(row.assignments)"></div></a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a (click)="planEpic(row.id)" title="Make it part of release plan"
                     *ngIf="row.estimates && row.estimates.length > 0">
                    <i class="bi bi-play action-icon"></i>
                  </a>
                  <a (click)="openDialogForEstimates(row)" title="Change Estimates">
                    <i class="bi bi-bucket action-icon"></i>
                  </a>
                  <a (click)="openDialogForEpic(row)" title="Edit">
                    <i class="bi bi-pencil-square action-icon"></i>
                  </a>
                  <a (click)="deleteEpic(row.id)" title="Delete">
                    <i class="bi bi-trash action-icon"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div class="col-md-4">
            <ngx-datatable
              [rows]="releaseDetail.resourceCaps"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              class="material">
              <ngx-datatable-column name="Resource" prop="resourceName"></ngx-datatable-column>
              <ngx-datatable-column name="Time Assigned">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignedTime }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Remaining Assignable Time">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignableTime - row.prodBasedAssignedTime }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

