<div class="container mt-2">
  <h2>Execution</h2>
  <ul class="horizontal-list">
    <li *ngFor="let releaseDetailLink of releases;let i = index">
      <ng-container *ngIf="i>0">
        <a [routerLink]="[]" [fragment]="'eRelease'+i">
          {{releaseDetailLink.release?.name}}</a>
      </ng-container>
    </li>
  </ul>
  <div class="col-md-12" >

    <div class="row release" *ngFor="let releaseDetail of releases;let i = index" [id]="'eRelease'+i">
      <div class="card">
        <div class="card-header">
          <ul class="horizontal-list">
            <li>Release: {{releaseDetail.release?.name}}</li>
            <li>Start Date: {{releaseDetail.release?.startDate}}</li>
            <li>End Date: {{releaseDetail.release?.endDate}}</li>
            <li>Working Days: {{releaseDetail.release?.workingDays}}</li>
            <li>Status: {{releaseDetail.release?.status}}</li>
            <li>
              <a (click)="closeRelease(releaseDetail)" title="Close the release">
                <i class="bi bi-door-closed action-icon"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Epics</h5>
          <div class="row">
            <div class="col-md-8 table-responsive">
              <ngx-datatable
                class="bootstrap-table table-striped table-bordered table-hover"
                [rows]="releaseDetail.epics"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [sorts]="[{ prop: 'priorityLevel', dir: 'asc' }]"
                [rowClass]="getRowClass"
                >

                <ngx-datatable-column name="Code" prop="code" [sortable]="true" maxWidth="50"></ngx-datatable-column>
                <ngx-datatable-column name="Title" prop="title" maxWidth="100"></ngx-datatable-column>
                <ngx-datatable-column name="Priority" prop="priorityLevel" [sortable]="true" maxWidth="50">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.priorityName}}
                    <a (click)="changePriorityToUpper(row)" title="Move it to higher priority"
                       *ngIf="showChangePriorityToUpper(row)">
                      <i class="bi bi-arrow-up-short action-icon"></i>
                    </a>
                    <a (click)="changePriorityToLower(row)" title="Move it to lower priority"
                       *ngIf="showChangePriorityToLower(row)">
                      <i class="bi bi-arrow-down-short action-icon"></i>
                    </a>

                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Assignment" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
<!--
                    <div [innerHTML]="showAssignments(row.assignments)"></div>
-->

                    <table>
                      <thead>
                      <tr>
                        <th>Resource</th>
                        <th>Estimate</th>
                        <th>Logged</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let assignment of row.assignments">
                        <td>{{ assignment.resourceName }}</td>
                        <td>{{ assignment.estimate | decimalToTime }}</td>
                        <td>{{ assignment.minutesLogged | decimalToTime }}</td>
                        <td>{{ assignment.status }}</td>
                        <td>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.OPEN)"
                             title="Re open it"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.COMPLETED || assignment.status === EpicAssignmentStatusEnum.ON_HOLD
                                || assignment.status === EpicAssignmentStatusEnum.OVERDUE">
                            <i class="bi bi-stop-circle-fill action-icon"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.STARTED)"
                             title="Start working on"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.OPEN || assignment.status === EpicAssignmentStatusEnum.ON_HOLD">
                            <i class="bi bi-play-circle-fill action-icon"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.ON_HOLD)"
                             title="Hold it"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.OPEN || assignment.status === EpicAssignmentStatusEnum.STARTED">
                            <i class="bi bi-pause-circle-fill action-icon"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.COMPLETED)"
                             title="Mark as Completed"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.STARTED">
                            <i class="bi bi-check-circle-fill action-icon"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.OVERDUE)"
                             title="Can't be completed"
                             *ngIf="assignment.status !== EpicAssignmentStatusEnum.OVERDUE">
                            <i class="bi bi-exclamation-circle-fill action-icon"></i>
                          </a>
                          <a (click)="updateTimeLoggingModal(timeLoggingTemplate, releaseDetail.release?.id, assignment)"
                             title="Log your work"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.STARTED">
                            <i class="bi bi-clock action-icon"></i>
                          </a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" maxWidth="50">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a (click)="openDialogForEpic(row)" title="Edit">
                      <i class="bi bi-pencil-square action-icon"></i>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
            <div class="col-md-4">
              <ngx-datatable
                [rows]="releaseDetail.resourceCaps"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                class="material">
                <ngx-datatable-column name="Resource" prop="resourceName"></ngx-datatable-column>
                <ngx-datatable-column name="Time Assigned">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.prodBasedAssignedTime | decimalToTime }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Remaining Assignable Time">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.prodBasedAssignableTime - row.prodBasedAssignedTime | decimalToTime }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Time Logged">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.loggedTime | decimalToTime }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
      <ul class="horizontal-list">
        <li *ngFor="let releaseDetailLink of releases;let j = index">
          <ng-container *ngIf="j<i || j>i+1">
            <a [routerLink]="[]" [fragment]="'eRelease'+j">
              {{releaseDetailLink.release?.name}}</a>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>


  <ng-template #timeLoggingTemplate>
    <div class="modal fade show d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Time Logging</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label class="form-label">Logging For</label><label class="required-label"><span class="text-danger ms-1">*</span></label>
                <input type="date" class="form-control" [(ngModel)]="timeLogging.loggedForDate" name="loggedForDate" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Time to log (2h 30min)</label>
                <input type="text" class="form-control" [(ngModel)]="timeLogged" name="timeLogged" >
              </div>
              <div class="mb-3">
                <label class="form-label">Comments</label>
                <textarea class="form-control" [(ngModel)]="timeLogging.comments" name="comments" ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            <button class="btn btn-success" (click)="addTimeLogging()" >Add</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
