<div class="container mt-2">
  <h2>Completed</h2>
  <ul class="horizontal-list">
    <li *ngFor="let releaseDetailLink of releases;let i = index">
      <ng-container *ngIf="i>0">
        <a [routerLink]="[]" [fragment]="'eRelease'+i">
          {{releaseDetailLink.release?.name}}</a>
      </ng-container>
    </li>
  </ul>
  <div class="col-md-12" >

    <div class="row release" *ngFor="let releaseDetail of releases;let i = index" [id]="'eRelease'+i">
      <div class="card">
        <div class="card-header">
          <ul class="horizontal-list">
            <li>Release: {{releaseDetail.release?.name}}</li>
            <li>Start Date: {{releaseDetail.release?.startDate}}</li>
            <li>End Date: {{releaseDetail.release?.endDate}}</li>
            <li>Working Days: {{releaseDetail.release?.workingDays}}</li>
            <li>Status: {{releaseDetail.release?.status}}</li>
            <li>
              <a (click)="expand(releaseDetail)" title="Expand">
                <i class="bi bi-arrows-angle-expand action-icon"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body"  *ngIf="releaseDetail.epics.length>0">
          <h5 class="card-title">Epics</h5>
          <div class="row">
            <div class="col-md-8 table-responsive">
              <ngx-datatable
                class="bootstrap-table table-striped table-bordered table-hover"
                [rows]="releaseDetail.epics"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [sorts]="[{ prop: 'priorityLevel', dir: 'asc' }]"
                [rowClass]="getRowClass"
                >

                <ngx-datatable-column name="Code" prop="code" [sortable]="true" maxWidth="50"></ngx-datatable-column>
                <ngx-datatable-column name="Title" prop="title" maxWidth="100"></ngx-datatable-column>
                <ngx-datatable-column name="Priority" prop="priorityLevel" [sortable]="true" maxWidth="50">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.priorityName}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Assignment" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
<!--
                    <div [innerHTML]="showAssignments(row.assignments)"></div>
-->

                    <table>
                      <thead>
                      <tr>
                        <th>Resource</th>
                        <th>Estimate</th>
                        <th>Logged</th>
                        <th>Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let assignment of row.assignments">
                        <td>{{ assignment.resourceName }}</td>
                        <td>{{ assignment.estimate | decimalToTime }}</td>
                        <td>{{ assignment.minutesLogged | decimalToTime }}</td>
                        <td>{{ assignment.status }}</td>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" maxWidth="50">
                  <ng-template let-row="row" ngx-datatable-cell-template>

                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
            <div class="col-md-4"  *ngIf="releaseDetail.resourceCaps.length>0">
              <ngx-datatable
                [rows]="releaseDetail.resourceCaps"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                class="material">
                <ngx-datatable-column name="Resource" prop="resourceName"></ngx-datatable-column>
                <ngx-datatable-column name="Time Assigned">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.prodBasedAssignedTime | decimalToTime }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Remaining Assignable Time">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.prodBasedAssignableTime - row.prodBasedAssignedTime | decimalToTime }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Time Logged">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.loggedTime | decimalToTime }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
      <ul class="horizontal-list">
        <li *ngFor="let releaseDetailLink of releases;let j = index">
          <ng-container *ngIf="j<i || j>i+1">
            <a [routerLink]="[]" [fragment]="'eRelease'+j">
              {{releaseDetailLink.release?.name}}</a>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>



</div>
