<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-12 offset-md-0">

      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="h4 mb-0">Completed</h2>
        </div>
        <ul class="custom-nav-list">
          <li *ngFor="let releaseDetailLink of releases;let i = index">
            <a [routerLink]="[]" [fragment]="'eRelease'+i" class="custom-nav-link" *ngIf="i>0">
              {{releaseDetailLink.release?.name}}</a>
          </li>
        </ul>

    <div class="col-md-12" >

    <div class="row release" *ngFor="let releaseDetail of releases;let i = index" [id]="'eRelease'+i">
      <div class="">
        <div class="card-header release-info-card">
          <ul class="release-info-list">
            <li><strong>Release:</strong> {{ releaseDetail.release?.name }}</li>
            <li><strong>Start Date:</strong> {{ releaseDetail.release?.startDate }}</li>
            <li><strong>End Date:</strong> {{ releaseDetail.release?.endDate }}</li>
            <li><strong>Working Days:</strong> {{ releaseDetail.release?.workingDays }}</li>
            <li><strong>Status:</strong>
              <span [ngClass]="releaseStatusClass(releaseDetail.release?.status)">
                {{ releaseDetail.release?.status }}
              </span>
            </li>
            <li>
              <a (click)="expand(releaseDetail)" title="Expand the release" class="btn btn-sm btn-outline-success">
                <i class="bi bi-arrows-angle-expand"></i> Expand
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body"  *ngIf="releaseDetail.epics.length>0">
            <h5 class="card-title">Deliverables</h5>
            <div class="col-md-12 table-responsive">
              <ngx-datatable
                class="bootstrap-table table-striped table-bordered table-hover"
                [rows]="releaseDetail.epics"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="40"
                [rowHeight]="'auto'"
                [sorts]="[{ prop: 'priorityLevel', dir: 'asc' }]"
                [rowClass]="getRowClass"
                >

                <ngx-datatable-column name="Code" prop="code" [sortable]="true" [width]="80" [minWidth]="80" [maxWidth]="80"></ngx-datatable-column>
                <ngx-datatable-column name="Title" prop="title" ></ngx-datatable-column>
                <ngx-datatable-column name="Priority" prop="priorityLevel" [sortable]="true" [width]="120" [minWidth]="120" [maxWidth]="120">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.priorityName}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Assignment" [width]="300" [minWidth]="300" [maxWidth]="300">
                  <ng-template let-row="row" ngx-datatable-cell-template>
<!--
                    <div [innerHTML]="showAssignments(row.assignments)"></div>
-->

                    <table>
                      <thead>
                      <tr>
                        <th>Resource</th>
                        <th>Estimate</th>
                        <th>Logged</th>
                        <th>Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let assignment of row.assignments">
                        <td>{{ assignment.resourceName }}</td>
                        <td>{{ assignment.estimate | decimalToTime }}</td>
                        <td>{{ assignment.minutesLogged | decimalToTime }}</td>
                        <td>{{ assignment.status }}</td>
                      </tbody>
                    </table>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>

        </div>
        <div class="card-body"  *ngIf="releaseDetail.epics.length>0">
          <h5 class="card-title">Resource Allocation</h5>
          <div class="col-md-12">
            <ngx-datatable
              [rows]="releaseDetail.resourceCaps"
              [columnMode]="'force'"
              [headerHeight]="40"
              [footerHeight]="0"
              [rowHeight]="'auto'"
              class="material">
              <ngx-datatable-column name="Resource" prop="resourceName"></ngx-datatable-column>
              <ngx-datatable-column name="Availability" [width]="150" [minWidth]="150" [maxWidth]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignableTime | decimalToTime}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time Assigned" [width]="150" [minWidth]="150" [maxWidth]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignedTime | decimalToTime}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time Unassigned" [width]="150" [minWidth]="150" [maxWidth]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prodBasedAssignableTime - row.prodBasedAssignedTime | decimalToTime }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time Logged">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.loggedTime | decimalToTime }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time Utilized" [width]="500" [minWidth]="500" [maxWidth]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="time-bar-container">
                    <div
                      class="time-bar-assigned"
                      [style.width.%]="getLoggedPercentage(row)"
                      title="Time Logged: {{ row.loggedTime | decimalToTime }}">
                    </div>
                    <div
                      class="time-bar-remaining"
                      [style.width.%]="100 - getLoggedPercentage(row)"
                      title="Max Time Left: {{ row.prodBasedAssignableTime - row.loggedTime | decimalToTime }}">
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <div>
      <ul class="custom-nav-list">
        <li *ngFor="let releaseDetailLink of releases;let j = index">
          <a [routerLink]="[]" [fragment]="'eRelease'+j" class="custom-nav-link" *ngIf="j<i || j>i+1">
            {{releaseDetailLink.release?.name}}</a>
        </li>
      </ul>
      </div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>
