<div class="container-fluid px-4">

  <div class="card mb-2 mt-2">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0"><i class="bi bi-house-door me-2"></i> My Dashboard</h4>
    </div>
    <div class="card-body bg-white">
      <ng-container *ngIf="releases.length==0">There is no assignment.</ng-container>
      <div class="d-flex">
        <ul class="navbar-nav d-flex flex-row flex-wrap gap-2 mb-2 mb-lg-0 ms-auto">
          <li class="nav-item" *ngFor="let releaseDetailLink of releases;let i = index">
            <a [routerLink]="[]" [fragment]="'eRelease'+i" class="nav-link px-2" *ngIf="i>0">
              {{releaseDetailLink.release?.name}}</a>
          </li>
        </ul>
      </div>



      <div class="row release" *ngFor="let releaseDetail of releases;let i = index" [id]="'eRelease'+i">
        <!-- Release Details -->
        <div class="mb-2 px-2 p-0 d-flex justify-content-between align-items-center flex-wrap bg-primary-subtle">
          <div class="release-info-text text-dark text-center fs-5">
            {{messageChange('Product')}}: <strong>{{ releaseDetail.product.name }}</strong> &nbsp;|&nbsp;
            Release: {{ releaseDetail.release?.name }} &nbsp;|&nbsp;
            Start Date: <strong>{{ releaseDetail.release?.startDate }}</strong> &nbsp;|&nbsp;
            End Date: <strong>{{ releaseDetail.release?.endDate }}</strong> &nbsp;|&nbsp;
            Working Days: {{ releaseDetail.release?.workingDays }}
          </div>

          <div class="mt-2 mt-lg-0">
            <button class="btn btn-lg me-2 p-1"
                    *ngIf="isManager(this.rights)"
                    (click)="completeRelease(releaseDetail)" title="Mark release to complete.">
              <i class="bi bi-x-circle"></i> Complete
            </button>

            <button class="btn btn-lg me-1 p-1"
                    (click)="openDialogForEntityDetail(releaseDetail.release)" title="Release Artifacts">
              <i class="bi bi-file-earmark"></i> Release Artifacts
            </button>
          </div>
        </div>
        <!--
                  <h5 class="mb-1"><i class="bi bi-journal me-2"></i> Deliverables</h5>
        -->
          <table class="table table-bordered table-hover align-middle compact-table">
            <thead class="table-light">
            <tr>
              <th>&nbsp;</th>
              <th>Code</th>
              <th>Title</th>
              <th>Depends On</th>
              <th>Related To</th>
              <th>Priority</th>
              <th>Required By</th>
              <th>Value Gain</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let row of releaseDetail.epics">
              <tr class="table-bordered border-2 table-success">
                <td><button (click)="toggleAssignments(row)"  class="btn btn-sm">
                  <i [ngClass]="{'bi bi-toggle-on': row.expanded, 'bi bi-toggle-off': !row.expanded}"></i></button></td>
                <td width="8%"><i class="{{epicAssignmentStatusIconClass(row.assignments)}}" ></i>{{row.code}}</td>
                <td>{{row.title}}</td>
                <td width="8%"><div [innerHTML]="relationData(row.dependsOn, EpicLinkType.DEPEND_ON, false)" *ngIf="row.dependsOn && row.dependsOn.length>0"></div></td>
                <td width="8%"><div [innerHTML]="relationData(row.relatedTo, EpicLinkType.RELATED_TO, false)" *ngIf="row.relatedTo && row.relatedTo.length>0"></div></td>
                <td width="8%">{{row.priorityName}}</td>
                <td width="8%">{{row.requiredBy}}</td>
                <td width="8%">{{row.valueGain}}</td>
                <td class="text-center">
                  <a (click)="openDialogForEpic(row)" title="Add achievements">
                    <i class="bi bi-box-seam"></i>
                  </a>
                </td>
              </tr>
              <tr *ngIf="row.expanded" >
                <td colspan="5">
                  <table class="table table-bordered table-hover align-middle mb-0 compact-table">
                    <thead class="table-light">
                    <tr>
                      <th>Resource</th>
                      <th>Estimated Time</th>
                      <th>Logged Time</th>
                      <th>Status</th>
                      <th>Due Date</th>
                      <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let assignment of row.assignments">
                      <tr class="{{assignmentStatusClass(assignment)}}">
                        <td width="20%">{{ assignment.resourceName }}</td>
                        <td width="10%">{{ assignment.estimate | decimalToTime }}</td>
                        <td width="10%">{{ assignment.minutesLogged | decimalToTime }}</td>
                        <td [innerHTML]="assignmentStatusShow(assignment)" width="10%"></td>
                        <td class="mb-0 mt-0"  width="8%">

                          <div *ngIf="!assignment.editingExpectedDeliveryDate" (click)="assignment.editingExpectedDeliveryDate = true"
                               title="Required by date. Click over it to change.">
                            {{ assignment.expectedDeliveryDate?assignment.expectedDeliveryDate:'+' }}
                          </div>


                          <input *ngIf="assignment.editingExpectedDeliveryDate"
                                 type="date"
                                 class="form-control-sm p-0"
                                 [min]="releaseDetail.release.startDate"
                                 [max]="releaseDetail.release.endDate"
                                 [ngModel]="assignment.expectedDeliveryDate"
                                 (ngModelChange)="changeAssignmentDeliveryDate(assignment, $event);assignment.editingExpectedDeliveryDate=false"
                                 style="width: 100px;"
                          />
                        </td>
                        <td width="10%" *ngIf="isManager(this.rights) || this.rights.resourceId==assignment.resourceId " class="text-center">
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.OPEN)"
                             title="Re open it"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.COMPLETED || assignment.status === EpicAssignmentStatusEnum.ON_HOLD
                                  || assignment.status === EpicAssignmentStatusEnum.OVERDUE">
                            <i class="bi bi-stop-circle-fill me-2"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.STARTED)"
                             title="Start working on"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.OPEN || assignment.status === EpicAssignmentStatusEnum.ON_HOLD">
                            <i class="bi bi-play-circle-fill me-2"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.ON_HOLD)"
                             title="Hold it"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.OPEN || assignment.status === EpicAssignmentStatusEnum.STARTED">
                            <i class="bi bi-pause-circle-fill me-2"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.COMPLETED)"
                             title="Mark as Completed"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.STARTED">
                            <i class="bi bi-check-circle-fill me-2"></i>
                          </a>
                          <a (click)="changeAssignmentStatus(assignment, EpicAssignmentStatusEnum.OVERDUE)"
                             title="Can't be completed"
                             *ngIf="assignment.status !== EpicAssignmentStatusEnum.OVERDUE">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                          </a>
                          <a (click)="updateTimeLoggingModal(timeLoggingTemplate, releaseDetail.release?.id, assignment)"
                             title="Log your work"
                             *ngIf="assignment.status === EpicAssignmentStatusEnum.STARTED">
                            <i class="bi bi-clock me-2"></i>
                          </a>
                        </td>
                        <td *ngIf="!(isManager(this.rights) || this.rights.resourceId==assignment.resourceId)" width="10%">
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>

        <!-- Resource Allocation -->
        <!--
                  <h5 class="mb-1"><i class="bi bi-people me-2"></i> Resource Allocation</h5>
        -->
          <table class="table table-bordered table-hover align-middle compact-table">
            <thead class="table-light">
            <tr>
              <td>Resource</td>
              <td>Availability</td>
              <td>Time Assigned</td>
              <td>Time Unassigned</td>
              <td>Time Logged</td>
              <td>Estimated Time - Utilized</td>
              <td>Available Time - Utilized</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of releaseDetail.resourceCaps">
              <td>{{row.resourceName}}</td>
              <td>{{ row.prodBasedAssignableTime | decimalToTime}}</td>
              <td>{{ row.prodBasedAssignedTime | decimalToTime}}</td>
              <td>{{ row.prodBasedAssignableTime - row.prodBasedAssignedTime | decimalToTime }}</td>
              <td>{{ row.loggedTime | decimalToTime }}</td>
              <td>
                <div class="progress m-0" style="height: 18px;">
                  <div class="progress-bar" role="progressbar"
                       [ngClass]="{'bg-danger': getLoggedPercentageAgainstEstimated(row)>100,
                              'bg-primary': getLoggedPercentageAgainstEstimated(row)<=100}"
                       [style.width.%]="getLoggedPercentageAgainstEstimated(row)"
                       aria-valuemin="0" aria-valuemax="100">{{getLoggedPercentageAgainstEstimated(row) | truncateNumber}}%</div>
                </div>
              </td>
              <td>
                <div class="progress m-0" style="height: 18px;">
                  <div class="progress-bar" role="progressbar"
                       [ngClass]="{'bg-danger': getLoggedPercentage(row)>100,
                              'bg-success': getLoggedPercentage(row)<=100}"
                       [style.width.%]="getLoggedPercentage(row)"
                       aria-valuemin="0" aria-valuemax="100">{{getLoggedPercentage(row) | truncateNumber}}%</div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        <div>
          <div class="d-flex">
            <ul class="navbar-nav d-flex flex-row flex-wrap gap-2 mb-2 mb-lg-0 ms-auto">
              <li class="nav-item" *ngFor="let releaseDetailLink of releases;let j = index">
                <a [routerLink]="[]" [fragment]="'eRelease'+j" class="nav-link px-2" *ngIf="j<i || j>i+1">
                  {{releaseDetailLink.release?.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <ng-template #timeLoggingTemplate>
    <div class="modal fade show d-block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Time Logging</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label class="form-label">Logging For</label><label class="required-label"><span class="text-danger ms-1">*</span></label>
                <input type="date" class="form-control" [(ngModel)]="timeLogging.loggedForDate" name="loggedForDate" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Time to log (2h 30min)</label>
                <input type="text" class="form-control" [(ngModel)]="timeLogged" name="timeLogged" >
              </div>
              <div class="mb-3">
                <label class="form-label">Comments</label>
                <textarea class="form-control" [(ngModel)]="timeLogging.comments" name="comments" ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success w-20" (click)="addTimeLogging()" >Add</button>
            <button class="btn btn-secondary w-20" (click)="closeModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
