/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-label{margin-bottom:.1rem}

.required-label {
  color: red;
  font-weight: bold;
}

.error-message {
  color: red;
  margin-top:.5rem;
}
.action-icon {
  font-size: 1.2rem;
  color: #007bff;
  margin-right: 5px;
}
::ng-deep .ngx-datatable th {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center; /* Optional: Center align headers */
  min-width: 120px;
}



.bootstrap-table {
  font-size: 14px;
  text-align: left;
}

/* Style ngx-datatable header */
.bootstrap-table .datatable-header {
  background-color: #343a40;
  color: white;
  font-weight: bold;
}

/* Style ngx-datatable rows */
/*
.bootstrap-table .datatable-body-row {
  transition: background-color 0.3s;
}
*/
.table-sm-custom td,
.table-sm-custom th {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.2;
  font-weight: normal;
}
.btn-tight-custom {
  padding: 0.15rem 0.3rem;
  line-height: 1;
}



.even-row {
  background-color: #f2f2f2 !important;
}

.odd-row {
  background-color: #ffffff !important;
}
/* Style action icons */
.action-icon {
  cursor: pointer;
  margin-left: 5px;
  color: #007bff;
  transition: color 0.3s;
}

.action-icon:hover {
  color: #0056b3;
}
