<div class="container-fluid px-4">
  <div class="col-md-12 offset-md-0">
    <div class="text-end mt-2">
      <a aria-controls="helpSection" aria-expanded="false" class="btn btn-link text-decoration-none" data-bs-toggle="collapse"
         href="#helpSection" role="button">
        <i class="bi bi-info-circle me-1"></i> Need Help?
      </a>
    </div>

    <!-- Help Card (Collapsed by default) -->
    <div class="collapse" id="helpSection">
      <div class="card shadow-sm mb-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">{{messageChange('Allocate time to resource per Product')}}</h5>
          <p class="card-text">
            {{messageChange('It\'s to define how much time a resource can be allocated to product out of resource availability.')}}
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0"><i class="bi bi-hourglass-split me-2"></i> Time Allocation</h4>
      </div>
      <div class="card-body bg-white col-md-12">

          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div class="table-container">
            <ngx-datatable
              [rows]="transformedData"
              [columns]="columns"
              class="material"
              [columnMode]="'force'"
              [headerHeight]="40"
              [footerHeight]="30"
              [scrollbarH]="true"
              [rowHeight]="'auto'">

              <!-- Resource Name Column -->
              <ngx-datatable-column name="Resource" prop="resourceName" [maxWidth]="500">
              </ngx-datatable-column>

              <!-- Dynamic Product Columns -->
              <ngx-datatable-column *ngFor="let column of columns.slice(1)" [name]="column.name" [prop]="column.prop">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <input
                    type="number"
                    [(ngModel)]="row[column.prop].participationPercentTime"
                    (ngModelChange)="onParticipationChange(row.resourceId, column.prop, $event)"
                    [disabled]="row[column.prop].id==0"
                  />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Total" [headerClass]="'text-center'">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div style="text-align: right;">
                  {{row['total'].participationPercentTime}}%
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div class="text-center mt-3 d-flex justify-content-center gap-2">
            <button class="btn btn-primary w-20" type="submit" (click)="onSave()" [disabled]="!isAnyThingChanged || !isValidated">Save</button>
            <button class="btn btn-secondary w-20" type="reset" (click)="onSkip()" *ngIf="isWizard()">Skip</button>
          </div>
        </div>
      </div>
    </div>
  </div>


