<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <div class="card shadow-sm mb-2">
        <div class="card-body">
          <h5 class="card-title">Define team for Product</h5>
          <p class="card-text">
            Lets define the resource working on product and the role each one will play in product. The role we will define here,
            only relevant work resource can perform within product.
          </p>
        </div>
      </div>

      <!-- Upload Card -->
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h3>Define Team</h3>
        </div>
        <div class="card-body">

          <div class="table-container">
            <ngx-datatable
              [rows]="resources"
              [columnMode]="'force'"
              [headerHeight]="40"
              [footerHeight]="40"
              [scrollbarH]="true"
              [rowHeight]="'auto'"
              class="bootstrap-table table-striped table-bordered table-hover"
            >
              <!-- Static Resource Name Column -->
              <ngx-datatable-column name="Resource" prop="name" maxWidth="200"  [frozenLeft]="true">
              </ngx-datatable-column>
              <!-- Dynamic Role Columns -->
              <ngx-datatable-column *ngFor="let role of roles" [name]="role.name" class="text-center">
                <!-- <ng-template ngx-datatable-header-template let-column="column">
                   <div class="header-wrap">{{ column.name }}</div>
                 </ng-template>-->
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input
                    title="{{row.name}}"
                    type="radio"
                    name="role-{{ row.id }}"
                    [value]="role.id"
                    [(ngModel)]="selectedRoles[row.id]"
                    (change)="onRoleSelect(row.id, role.id)" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="None">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input
                    type="radio"
                    name="role-{{ row.id }}"
                    [value]="0"
                    [(ngModel)]="selectedRoles[row.id]"
                    (change)="onRoleSelect(row.id, 0)" />
                </ng-template>
              </ngx-datatable-column>


            </ngx-datatable>
          </div>


          <div class="text-center mt-3 d-flex justify-content-center gap-2">
            <button class="btn btn-primary w-20" type="submit" (click)="onSave()" [disabled]="!isAnyThingChanged">Save</button>
            <button class="btn btn-secondary w-20" type="reset" (click)="onSkip()" *ngIf="isWizard()">Skip</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--

<div class="container mt-5" >
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white text-center">
      <h3>Define Team</h3>
    </div>
    <div class="card-body">
    <div class="table-container">
  <ngx-datatable
    [rows]="resources"
    [columnMode]="'force'"
    [headerHeight]="40"
    [footerHeight]="40"
    [scrollbarH]="true"
    [rowHeight]="'auto'"
    class="bootstrap-table table-striped table-bordered table-hover"
  >
    &lt;!&ndash; Static Resource Name Column &ndash;&gt;
    <ngx-datatable-column name="Resource" prop="name" maxWidth="200"  [frozenLeft]="true">
    </ngx-datatable-column>
    &lt;!&ndash; Dynamic Role Columns &ndash;&gt;
    <ngx-datatable-column *ngFor="let role of roles" [name]="role.name" class="text-center">
     &lt;!&ndash; <ng-template ngx-datatable-header-template let-column="column">
        <div class="header-wrap">{{ column.name }}</div>
      </ng-template>&ndash;&gt;
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input
          title="{{row.name}}"
          type="radio"
          name="role-{{ row.id }}"
          [value]="role.id"
          [(ngModel)]="selectedRoles[row.id]"
          (change)="onRoleSelect(row.id, role.id)" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="None">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input
          type="radio"
          name="role-{{ row.id }}"
          [value]="0"
          [(ngModel)]="selectedRoles[row.id]"
          (change)="onRoleSelect(row.id, 0)" />
      </ng-template>
    </ngx-datatable-column>


  </ngx-datatable>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit" (click)="onSave()" [disabled]="!isAnyThingChanged">Save</button>
  </div>
  </div>
</div>
-->
